.landing
  %h1= t('buttons.join_the_waitlist')
  %h4
    = t('buttons.filled_up_slots')
    %br
    = t('buttons.be_sure_to_update')
  %br
  #register.tab-pane.active
    = form_for @waitlist, html: { class: "form aligned" } do |f|
      - if @waitlist.errors.any?
        .errors
          = @waitlist.errors.full_messages.join(", ")
        %br
      .input-wrap
        = f.text_field :name, class: "username", placeholder: "#{t('buttons.name')}"
      .input-wrap
        = f.text_field :email, class: 'password', placeholder: "#{t('buttons.email')}"
        = f.hidden_field :locale, value: I18n.locale
      .input-wrap.form-actions.text--left
        = f.submit "#{t('buttons.join')}", class: 'btn btn--primary'
