#blog_post
  .container{style: "margin-bottom: 100px;"}
    .section_header
      %h3= t('devise.registrations.edit_contact_info')
    .pomotodo.grid.ng-scope
      .column.width-3-4
        .account-box
          .post_content
            = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f|
              %fieldset
                = devise_error_messages!
                .form-group
                  = f.label "#{t('buttons.name')}"
                  = f.text_field :name, :autofocus => true, class: 'form-control'
                %br
                .form-group
                  = f.label "#{t('buttons.email')}"
                  = f.email_field :email, class: 'form-control'
                %br
                .form-group
                  = f.label "#{t('buttons.phone_number')}"
                  = f.text_field :phone_number, class: 'form-control'
                %br
                .form-group
                  = f.label "#{t('buttons.preferred_language')}"
                  %br
                  = f.select :locale, LanguageList::COMMON_LANGUAGES.map { |i| [i.name, i.iso_639_1] }
              %fieldset
                %p= t('devise.registrations.leave_blank_unless')
                .form-group
                  = f.label "#{t('buttons.password')}"
                  = f.password_field :password, :autocomplete => 'off', class: 'form-control'
                .form-group
                  = f.label "#{t('buttons.password_confirmation')}"
                  = f.password_field :password_confirmation, class: 'form-control'
              %fieldset
                %p= t('devise.registrations.enter_password_to_make_changes')
                .form-group
                  = f.label "#{t('buttons.current_password')}"
                  = f.password_field :current_password, class: 'form-control'
              = f.submit "#{t('buttons.update')}", :class => 'button right'
          %br
          %br
          %h3= t('devise.cancel_account')
          %p= t('devise.unhappy_to_see')
          %br
          = link_to "#{t('buttons.cancel_my_account')}", registration_path(resource_name), :data => { :confirm => "#{t('buttons.are_you_sure')}" }, :method => :delete
      .column.width-1-4
        = render "layouts/user_sidebar"