#apps
  .title
    %h2= t('features.asha_applications')
    %h3= t('features.asha_applications_text')
  .content.about
    #phone.app.iphone.clearfix
      .app-img
        %a{href: image_path('ios.png'), rel: :lazybox }
          .device.iphone
            .innerDevice
              .screen
                #iphoneImage
              .camera
              .grill
              .home
      .app-info
        %h2= t('features.easy_purchases')
        %p.description= t('features.easy_purchases_text')
        %a.btn{href: new_waitlist_path }= t('buttons.join_now')
    #phone.app.iphone.clearfix
      .app-img
        %a{href: image_path('ios2.png'), rel: :lazybox }
          .device.iphone
            .innerDevice
              .screen
                #iphone2Image
              .camera
              .grill
              .home
      .app-info
        %h2= t('features.easy_research')
        %p.description= t('features.easy_research_text')
        %a.btn{ href: new_waitlist_path }= t('buttons.join_now')
    .app.android.clearfix
      .app-img
        %a{href: image_path('android.png'), rel: :lazybox }
          .device.android
            .innerDevice
              .screen
                #androidImage
              .camera
              .grill
              .home
      .app-info
        %h2= t('features.easy_planning')
        %p.description= t('features.easy_planning_text')
        %a.btn{href: new_waitlist_path }= t('buttons.join_now')
        %a.play
        %p.qrcode
- content_for :description do
  Need virtual assistant?  You can Hire a Virtual Assistant, who is available 24/ 7/ 365 and offers business services and private support.