.landing
  %h1= t('landing.global_sms_assistant')
  %h4= t('landing.get_more_done')
  .join
    %a.button{:href => new_waitlist_path}= t('buttons.get_started')
.features.clearfix
  %li.appointments
    %i.icon
    %h3= t('buttons.appointments')
    %p= t('landing.appointments_text')
  %li.organization
    %i.icon
    %h3= t('buttons.organization')
    %p= t('landing.organization_text')
  %li.workflow
    %i.icon
    %h3= t('buttons.research')
    %p= t('landing.research_text')
%h4.pomocount
  %span= t('buttons.already')
  %span#js_pomo_count.number-count
    - @user_count.each do |a|
      %span.number=a
  %span= t('landing.users_on_asha')
#apps.clearfix
  %h3= t('landing.tasks_you_need')
  %p
  .mobile.ios
    .intro
      %h5= t('buttons.purchases')
      = link_to "#{t('buttons.join_now')}", new_waitlist_path, class: "btn"
    .device.iphone
      %a{href: new_waitlist_path}
        .innerDevice
          .screen
            #iphoneImage
          .camera
          .grill
  .mobile.android
    .intro
      %h5= t('buttons.planning')
      = link_to "#{t('buttons.join_now')}", new_waitlist_path , class: "btn"
    .device.android
      %a{href: new_waitlist_path}
        .innerDevice
          .screen
            #androidImage
          .camera
          .grill
- if params[:waitlisted]
  = render "layouts/join_conversion"