#about
  .content.terms.privacy
    %h3= t('buttons.privacy_policy')
    %p.time
      %span= t('buttons.posted')
      ：
      %span November 19, 2014
    %p.time
      %span= t('buttons.effective')
      ：
      %span November 19, 2014
    %br
    %p= t('privacy.main_header')

    %h3= t('privacy.personal_identifying_information')

    %p= t('privacy.personal_identifying_information_text')

    %h3= t('privacy.non_personal_identifying_information')

    %p= t('privacy.non_personal_identifying_information_text')

    %h3= t('privacy.web_browser_cookies')

    %p= t('privacy.web_browser_cookies_text')

    %h3= t('privacy.how_we_use_information')

    %p
      = t('privacy.collect_and_preserve')
      %ol{type: "a"}
        %li
          %i= t('privacy.to_improve_customer_service')
          = t('privacy.information_you_provide')
        %li
          %i= t('privacy.personalize_user_experience')
          = t('privacy.personalize_user_experience_text')
        %li
          %i= t('privacy.to_improve_our_site')
          = t('privacy.to_improve_our_site_text')
        %li
          %i= t('privacy.to_process_payments')
          = t('privacy.to_process_payments_text')
        %li
          %i= t('privacy.to_send_periodic_emails')
          = t('privacy.to_send_periodic_emails_text')

    %h3= t('privacy.how_we_protect_information')

    %p= t('privacy.appropriate_data')

    %p= t('privacy.sensitive_private_data')

    %h3= t('privacy.sharing_your_personal_information')

    %p= t('privacy.sharing_your_personal_information_text')

    %h3= t('privacy.changes_to_this_privacy_policy')

    %p= t('privacy.changes_to_this_privacy_policy_text')

    %h3= t('privacy.your_acceptance_of_these_terms')

    %p= t('privacy.your_acceptance_of_these_terms_text')

    %h3= t('privacy.contacting_us')

    %p= t('privacy.questions_about_this')

    %br
    %p
      Asha
      %br
      www.asha.io
      %br
      support@asha.io

    %p
      = t('privacy.document_last_updated')
      November 19, 2014
