#about
  .content.terms.privacy
    %h3= t('terms.asha_terms_of_service')
    %p.time
      %span= t('terms.posted')
      ：
      %span November 19, 2014
    %p.time
      %span= t('terms.effective')
      ：
      %span November 19, 2014
    %p= t('terms.by_accessing_website')

    %h3= t('terms.use_license')

    %ol{:type => "a"}
      %li
        = t('terms.permission_is_granted')
        %ol{:type => "i"}
          %li= t('terms.modify_or_copy_the_materials')
          %li= t('terms.use_the_materials')
          %li= t('terms.attempt_to_decompile')
          %li= t('terms.remove_copyright')
          %li= t('terms.transfer_the_materials')
      %li= t('terms.license_shall_terminate')
    %h3= t('terms.disclaimer')
    %ol{:type => "a"}
      %li= t('terms.the_materials_on')
    %h3= t('terms.limitations')
    %p= t('terms.limitations_text')
    %h3= t('terms.revisions_errata')
    %p= t('terms.revisions_errata_text')
    %h3= t('terms.links')
    %p= t('terms.links_text')
    %h3= t('terms.site_terms_of_use_modification')
    %p= t('terms.asha_may_revise_terms')
    %h3= t('terms.governing_law')
    %p= t('terms.governing_law_text')