#sign_in2
  .container
    .row.login{style: "margin-bottom: 100px;"}
      .col-sm-5.left_box
        %h4= t('devise.passwords.change_your_password')
        .perk_box
          .perk
            %span.icos.ico1
            %p
              %strong= t('devise.passwords.you_can_change_your_password')
              = t('devise.passwords.by_providing_your_username')
      .col-sm-6.signin_box
        .box
          .box_cont
            .form{style: "width: 100%;"}
              = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
                = devise_error_messages!
                = f.hidden_field :reset_password_token
                = f.password_field :password, autofocus: true, autocomplete: 'off', class: 'form-control', placeholder: "#{t('buttons.password')}"
                = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: "#{t('buttons.confirm_new_password')}"
                = f.submit "#{t('buttons.change_my_password')}"
