#account
  %ul#js-forms-tab.tab-navs
    %li.register.active
      = link_to "#{t('buttons.forgot_your_password')}", new_user_password_path
  .tab-content
    #register.tab-pane.active
      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form aligned'}) do |f|
        = devise_error_messages!
        .input-wrap
          %label= t('buttons.email')
          = f.email_field :email, :autofocus => true, class: 'username'
        .input-wrap.form-actions.text--left
          %label
          %input#loginDevice{:name => "device", :type => "hidden", :value => "web"}
            = f.submit "#{t('buttons.reset_password')}", class: 'btn btn--primary'
 