#feedback
  .content.feedback
    %h3= t('contacts.get_in_touch')
    .send-feedback
      %p= t('contacts.hear_from_you')
      = form_for @contact, html: { class: "form aligned"} do |f|
        - if @contact.errors.any?
          .errors
            = @contact.errors.full_messages.join(", ")
          %br
        .input-wrap
          = f.text_field :name, class: "name form-control", placeholder: "Name"
        .input-wrap
          = f.text_field :email, class: "mail form-control", placeholder: "Email"
        .input-wrap
          = f.text_field :phone, class: "phone form-control", placeholder: "Phone"
        .input-wrap
          = f.text_area :message, class: "form-control", placeholder: "Type a message here..."
        .input-wrap
          = f.submit "Send your message", class: "btn"
- content_for :description do
  = t('contacts.description')