#account
  %ul#js-forms-tab.tab-navs
    %li.login.active
      = link_to "#{t('buttons.sign_in')}", new_user_session_path
  .tab-content
    #register.tab-pane.active
      = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form', class: "form aligned"}) do |f|
        = devise_error_messages!
        .input-wrap
          %label= t('buttons.email')
          = f.email_field :email, :autofocus => true, class: 'username'
        .input-wrap
          %label= t('buttons.password')
          = f.password_field :password, class: 'password'
        .input-wrap.form-actions.text--left
          %label
          %input#loginDevice{:name => "device", :type => "hidden", :value => "web"}
            = f.submit "#{t('buttons.sign_in')}", class: 'btn btn--primary'
        .input-wrap.text--left
          %label
          = link_to "#{t('buttons.forgot_your_password')}", new_user_password_path
        .input-wrap.text--left
          %label
          %a{:href => new_waitlist_path}= t('buttons.join_the_waitlist')
