%h2= t('invitations.create_your_account')
= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f|
  %fieldset
    = devise_error_messages!
    = f.hidden_field :invitation_token
    .form-group
      = f.label "#{t('buttons.name')}"
      = f.text_field :name
    %br
    .form-group
      = f.label "#{t('buttons.phone_number')}"
      = f.text_field :phone_number
    %br
    .form-group
      = f.label "#{t('buttons.preferred_language')}"
      = f.select :locale, LanguageList::COMMON_LANGUAGES.map { |i| [i.name, i.iso_639_1] }
    %br
    .form-group
      = f.label "#{t('buttons.password')}"
      = f.password_field :password
    %br
    .form-group
      = f.label "#{t('buttons.password_confirmation')}"
      = f.password_field :password_confirmation
    %br
    = f.submit "#{t('buttons.continue')}", class: "button right"
