#blog_post
  .container
    .section_header
      %h3= t("devise.invitations.new.header")
    .row
      .col-sm-8
        .account-box
          .post_content
            = simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f|
              = devise_error_messages!
              - resource.class.invite_key_fields.each do |field|
                = f.input field, input_html: { class: "form-control"}
                %br
              = f.submit "#{t('buttons.invite')}", class: "button right"
      = render "layouts/user_sidebar"