- content_for :koudoku do
  %script{:src => "https://js.stripe.com/v1/", :type => "text/javascript"}
.menu-box
  .container
    .row.login
      .col-sm-5.left_box
        %h4= t('koudoku.subscriptions.enter_your_payment_info')
        .perk_box
      .col-sm-6.signin_box{style: "margin-top: 35px; margin-bottom: 50px;"}
        .box
          .box_cont
            .form{style: "width: 100%"}
              = form_for subscription, url: url, html: {id: 'payment-form', class: 'form-inline'} do |f|
                .form-group
                  %input.card-number.form-control#card-number{:autocomplete => "off", :size => "26", :type => "text", placeholder: "#{t('koudoku.subscriptions.card_number')}"}
                %br
                .form-group
                  %input.card-expiry-month.form-control#card-expiry-month.input-mini{:size => "6", :type => "text", placeholder: "MM"}
                .form-group
                  %input.card-expiry-year.form-control#card-expiry-year.input-mini{:size => "6", :type => "text", placeholder: "YYYY"}/
                .form-group
                  %input.card-cvc.form-control#card-cvc.input-small{:autocomplete => "off", :size => "4", :type => "text", placeholder: "CVV"}/
                %br
                .alert.alert-error.payment-errors
                = f.hidden_field :plan_id
                - if Koudoku.free_trial?
                  %button.btn.btn-primary.submit-button{:type => "submit"}= t('koudoku.subscriptions.save_billing_information')
                - else
                  %button.btn.btn-primary.submit-button{:type => "submit"}= t('koudoku.subscriptions.add_payment_information')
                = link_to "#{t('buttons.cancel')}", owner_subscriptions_path(owner), class: 'btn'

:javascript
  // All this code taken from Stripe's own examples at:
  // https://stripe.com/docs/tutorials/forms .

  function stripeResponseHandler(status, response) {

      if (response.error) {
          // show the errors on the form
          $(".payment-errors").text(response.error.message).show();
          $(".submit-button").removeAttr("disabled");
      } else {
          var form$ = $("#payment-form");
          // token contains id, last4, and card type
          // insert the token into the form so it gets submitted to the server
          form$.append("<input type='hidden' name='subscription[credit_card_token]' value='" + response['id'] + "'/>");
          form$.append("<input type='hidden' name='subscription[last_four]' value='" + response['last4'] + "'/>");
          form$.append("<input type='hidden' name='subscription[card_type]' value='" + response['card_type'] + "'/>");
          // and submit
          form$.get(0).submit();
      }
  }

  $(document).ready(function() {

    Stripe.setPublishableKey("#{Koudoku.stripe_publishable_key}");

    // By default, don't show errors.
    $(".payment-errors").hide()

    $("#payment-form").submit(function(event) {

      // disable the submit button to prevent repeated clicks
      $('.submit-button').attr("disabled", "disabled");

      Stripe.createToken({
          number: $('.card-number').val(),
          cvc: $('.card-cvc').val(),
          exp_month: $('.card-expiry-month').val(),
          exp_year: $('.card-expiry-year').val()
      }, stripeResponseHandler);

      // prevent the form from submitting with the default action
      return false;
    });
  });
