.column.width-1-3
  #pomo.pomotodo-box.ng-scope
    .pomo-header.box-header
      %h1.text-center= plan.name
      %h4.text-center= "$#{plan.price.to_i}/#{t('buttons.month')}"
    .pomo-main.text-center
      .zero.clearfix
        - plan.features.split("\n\n").each do |feature|
          %p.no-record
            = feature
      - if current_user
        - if subscription.nil?
          = link_to Koudoku.free_trial? ? "#{t('buttons.start_trial')}" : "#{t('buttons.start')}", koudoku.new_subscription_path(plan: plan.id), class: "btn"
        - elsif subscription.persisted?
          - if subscription.plan == plan
            = form_for subscription, url: owner_subscription_path(owner, subscription) do |f|
              = f.submit "#{t('buttons.selected')}", class: "btn", disabled: 'disabled'
          - else
            = form_for subscription, url: owner_subscription_path(owner, subscription) do |f|
              = f.hidden_field :plan_id, value: plan.id
              = f.submit subscription.describe_difference(plan), class: "btn"
        - else
          = link_to Koudoku.free_trial? ? "#{t('buttons.start_trial')}" : "#{t('buttons.start')}", new_owner_subscription_path(owner, plan: plan.id), class: "btn"
      - else
        .text-center
          %a.btn{href: main_app.new_waitlist_path }= t('buttons.join_now')
  - if subscription && subscription.plan
    %p
      = t('koudoku.subscriptions.you_can_also')
      = link_to "#{t('koudoku.subscriptions.cancel_your_subscription')}", cancel_owner_subscription_path(owner, subscription), method: :post
      \.