.landing
  %h1= current_user ? "#{t('koudoku.subscriptions.select_your_plan')}" : "#{t('koudoku.subscriptions.pricing_to_fit_your_needs')}"
.pomotodo.grid.ng-scope
  = render 'koudoku/subscriptions/plan_1', plan: plans[0], subscription: subscription, owner: owner
  = render 'koudoku/subscriptions/plan_2', plan: plans[1], subscription: subscription, owner: owner
  = render 'koudoku/subscriptions/plan_3', plan: plans[2], subscription: subscription, owner: owner
#tips
  .title
    %h2= t('koudoku.subscriptions.frequently_asked_questions')
  #web.content.about.tips_content
    .tips.clearfix
      .tips-info
        %span.number 1
        %p.description
          %b= t('faq.what_is_a_task')
          = t('faq.what_is_a_task_answer')
    .tips.clearfix
      .tips-info
        %span.number 2
        %p.description
          %b= t('faq.how_long_are_your_contracts')
          = t('faq.how_long_answer')
    .tips.clearfix
      .tips-info
        %span.number 3
        %p.description
          %b= t('faq.how_sign_up')
          = t('faq.you_can_sign_up_anywhere')
          = link_to "#{t('buttons.here')}", main_app.new_waitlist_path
          = t('faq.or_you_can_contact_us_directly')
          = link_to "support@asha.io", "mailto:support@asha.io"
          = t('faq.with_any_questions')
    .tips.clearfix
      .tips-info
        %span.number 4
        %p.description
          %b= t('faq.meant_by_unlimited')
          = t('faq.meant_by_unlimited_answer')
    .tips.clearfix
      .tips-info
        %span.number 5
        %p.description
          %b= t('faq.yearly_discount')
          = t('faq.yearly_discount_answer')
          = surround "", "." do
            = link_to "support@asha.io", "mailto:support@asha.io"