- if current_user
  - Analytics.track(user_id: current_user.id, event: "Invite Accepted", properties: { :user => current_user.name })
= render 'pricing_table', plans: @plans, subscription: @subscription, owner: @owner
