= render 'card', title: (Koudoku.free_trial? ? "#{t('buttons.start_your_free_trial')}" : "#{t('buttons.upgrade_your_account')}"), url: owner_subscriptions_path(@owner), subscription: @subscription, owner: @owner
