#blog_post
  .container{style: "margin-bottom: 100px;"}
    .section_header
      %h3= t('buttons.edit_subscription')
    .pomotodo.grid.ng-scope
      .column.width-3-4
        .menu-box
          .post_content
            - if @subscription.plan.present?
              %h3= t('koudoku.subscriptions.your_subscribed')
              %p
                = t('koudoku.subscriptions.your_subscribed_to')
                = @subscription.plan.name
                = t('buttons.plan')
                \.
              %br
              %br
                = t('buttons.the')
                = @subscription.plan.name
                = t('buttons.plan_includes')
                %br
                %br
                %ol
                  - @subscription.plan.features.split("\n\n").each do |feature|
                    %li
                      = feature
                %br
                = link_to "#{t('buttons.choose_another_plan')}", edit_owner_subscription_path(@owner, @subscription), class: 'btn'
            - else
              %h2= t('buttons.no_subscription')
              %p
                = t('buttons.not_subscribed')
                %br
                = link_to "#{t('buttons.choose_a_plan')}", edit_owner_subscription_path(@owner, @subscription), class: 'btn'
          %br
          .post-content
            %h2= t('koudoku.subscriptions.payment_information')
            %p
              = t('buttons.the_card_on_file')
              = @subscription.last_four
              \.
              %br
              %br
              = link_to "#{t('koudoku.subscriptions.update_payment_information')}", edit_owner_subscription_path(@owner, @subscription, update: 'card'), class: 'btn'
      .column.width-1-4
        = render "layouts/user_sidebar"