#blog
  .container{style: "margin-bottom: 100px;"}
    .section_header
      %h3= link_to "#{t('buttons.blog')}", posts_path
    .pomotodo.grid.ng-scope
      .column.width-3-4
        .menu-box
          .post_content
            - if @posts.any?
              - @posts.each do |post|
                %h1
                  = link_to post.name, post_path(post)
                %abbr.timeago{:title => post.created_at.getutc.iso8601}
                  = post.created_at.to_s
                %br
                %br
                = truncate(post.body, length: 150)
                %hr{style: "margin-top: 25px;"}
              .paginator-container
                = paginate @posts
            - else
              No Results
      .column.width-1-4
        .menu-box
          .post_content
            - @posts.each do |post|
              .recent
                %p= link_to post.name, post_path(post)
              %br