#blog
  .container{style: "margin-bottom: 100px;"}
    .section_header
      %h3= link_to "#{t('buttons.blog')}", posts_path
    .pomotodo.grid.ng-scope
      .column.width-3-4
        .menu-box
          .post_content
            .post_content
              %h1= @post.name
              %p
                %span.date
                  %abbr.timeago{:title => @post.created_at.getutc.iso8601}
                    = @post.created_at.to_s
              %br
              %p
                = @post.body.html_safe
            %br
            %br
            .comments
              #disqus_thread

              :javascript
                var disqus_shortname = 'ashasms';
                var disqus_config = function () {
                  this.language = "#{I18n.locale}";
                };
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
      .column.width-1-4
        .menu-box
          .post_content
            - @posts.each do |post|
              .recent
                %p= link_to post.name, post_path(post)
              %br

