.clearfix:after, .clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.pull-right {
    float: right
}

.pull-left {
    float: left
}

.hide {
    display: none !important
}

.show {
    display: block !important
}

.invisible {
    visibility: hidden
}

.hide-text {
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden
}

.inline-block {
    display: inline-block
}

input[type=number] {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #777;
    margin: 0;
    max-width: 100%;
    display: block;
    background: #fff
}

.dropdown-select select {
    padding: .25em 2em .25em 1em
}

.preset-picker {
    display: inline-block;
    font-size: 1em;
    margin: 0
}

.preset-picker>div {
    margin-right: .3em
}

.preset-picker>ul {
    margin: 0
}

.preset-picker>ul>li>a {
    background: #fff;
    line-height: 2em;
    padding: 0 1em
}

.preset-picker>ul>li.active>a {
    border: 1px solid #CCC
}

.month-picker li {
    list-style: none;
    float: none;
    display: inline-block
}

.month-picker-fieldset {
    background: #FFF;
    display: inline-block;
    padding: 0 .5em;
    border-radius: 5px;
    border: 1px solid #E4E4E4;
    box-shadow: 0 2px 0 rgba(225, 225, 225, .2);
    color: #999;
    vertical-align: top
}

.month-picker-fieldset input {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px)
}

.month-picker-label {
    display: inline-block;
    line-height: 2em;
    vertical-align: top;
    cursor: pointer
}

.month-picker-nav:focus, input:focus+.month-picker-label {
    outline: #5e9ed7 solid 2px;
    outline: -webkit-focus-ring-color auto 5px
}

.month-picker-label {
    position: relative;
    padding: 0 .5em;
    text-transform: uppercase
}

.month-picker-label, .month-picker-label:before {
    -webkit-transition: .15s ease-out;
    -moz-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.month-picker-label:before {
    content: '';
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    border-radius: 4px;
    opacity: 0;
    border: 1px solid #CCC;
    box-shadow: inset 0 2px 0 rgba(225, 225, 225, .2)
}

input:checked+.month-picker-label {
    color: #666;
    text-shadow: 0 1px 0 #FFF;
    background-color: #F4F4F4;
    outline: 0
}

input:checked+.month-picker-label:before {
    opacity: 1
}

input:disabled+.month-picker-label {
    color: #CCC
}

#hotkey-help .modal-content {
    width: 30em
}

.kbs-legend-list {
    margin: 0
}

.kbs-legend-list-item {
    display: block;
    height: 2em
}

.kbs-legend-list-item:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both
}

.kbs-legend-key {
    float: left;
    font-size: .75em
}

.kbs-legend-label {
    font-size: .813em;
    min-width: 15em;
    float: left;
    padding: .2em 0;
    margin-right: 1.5em
}

.kbs-legend-key .key {
    background-color: #EBEBEB;
    border-radius: 3px;
    box-shadow: 0 1px 0 #D8D8D8;
    display: inline-block;
    font-weight: 700;
    padding: .2em .5em;
    text-align: center;
    min-width: 2em
}

.offline-ui {
    left: 66px
}

.offline-ui.offline-ui-up {
    display: none
}

.offline-ui.offline-ui-down .offline-ui-content:before {
    content: "Offline"
}

.pace .pace-progress {
    background: #df2000;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 2px;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s
}

.pace-done .pace-inactive {
    opacity: 0;
    z-index: 999;
    transition: opacity 1s;
    position: relative
}

[class*=" icon-"], [class^=icon-] {
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    margin-left: .2em
}

.icon-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg)
    }

    100% {
        -moz-transform: rotate(359deg)
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg)
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg)
    }

    100% {
        -o-transform: rotate(359deg)
    }
}

@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(0deg)
    }

    100% {
        -ms-transform: rotate(359deg)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(359deg)
    }
}

.icon-rotate-0 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg)
}

.icon-rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

.icon-rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.icon-rotate-270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg)
}

@font-face {
    font-family: PomotodoIcons;
    src: url(/fonts/PomotodoIcons.eot?3zrn7l);
    src: url(/fonts/PomotodoIcons.eot?#iefix3zrn7l) format('embedded-opentype'), url(/fonts/PomotodoIcons.woff?3zrn7l) format('woff'), url(/fonts/PomotodoIcons.ttf?3zrn7l) format('truetype'), url(/fonts/PomotodoIcons.svg?3zrn7l#PomotodoIcons) format('svg');
    font-weight: 400;
    font-style: normal
}

[class*=" icon-"], [class^=icon-] {
    font-family: PomotodoIcons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-note:before {
    content: "\e600"
}

.icon-handler:before {
    content: "\e601"
}

.icon-pin:before {
    content: "\e602"
}

.icon-broom:before {
    content: "\e603"
}

.icon-tag:before {
    content: "\e604"
}

.icon-switch:before {
    content: "\e605"
}

.icon-cog:before {
    content: "\e606"
}

.icon-clock:before {
    content: "\e607"
}

.icon-check:before {
    content: "\e608"
}

.icon-new:before {
    content: "\e609"
}

.icon-warning:before {
    content: "\e60a"
}

.icon-loading:before {
    content: "\e60b"
}

.icon-arrow-right:before {
    content: "\e60c"
}

.icon-more:before {
    content: "\e60d"
}

.dialog .modal-dialog .modal-content {
    width: 36em;
    text-align: center
}

.dialog .modal-dialog .body {
    padding-top: 2em
}

.dialog .modal-dialog .input-wrap {
    margin: 1em 0 0;
    text-align: center;
    display: inline-block
}

.dialog .modal-dialog .input-wrap>input {
    width: 15em
}

.dialog .modal-dialog .footer {
    font-size: 1em;
    padding: .6em 1em;
    margin-top: 1.2em !important
}

.dialog .modal-dialog .footer>button {
    margin-right: 1em
}

.dialog .modal-dialog .footer>button:last-child {
    margin-right: 0
}

.todo-header {
    margin-bottom: 0 !important
}

.todo-header .input-block {
    z-index: 1
}

.todo-header .tag-filter {
    font-size: 1em;
    padding: .5em;
    background: #F8F8F8;
    border: 1px solid #CCC;
    border-radius: 2px;
    color: #4183C4;
    line-height: 1.4em;
    margin: -2.5em 0 0;
    z-index: 2;
    position: relative
}

.todo-header .tag-filter>p {
    display: inline-block
}

.todo-header .tag-filter .close {
    float: right;
    color: #9C9C97;
    font-family: Tahoma, sans;
    font-weight: 700;
    font-size: 1.2em
}

.tag-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10em;
    display: inline-block
}

.remove-mark {
    font-family: Tahoma, sans;
    font-weight: 700;
    font-size: 1em;
    vertical-align: middle;
    line-height: 1em;
    color: #FFF
}

.icon-tag {
    margin-top: .1rem
}

.todo-list {
    margin: 0
}

.todo-list li {
    list-style: none
}

.todo-list .sub-items {
    margin-left: .8rem
}

.todo-list .check-container {
    display: inline-block;
    padding: .2em;
    float: left
}

.todo-list .item {
    background: #F9F9F9;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eee;
    padding: .3em;
    list-style: none;
    position: relative
}

.todo-list .item::before {
    content: '';
    width: 3px;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0
}

.todo-list .item.pro-1::before {
    background: #A5C4FA
}

.todo-list .item.pro-2::before {
    background: #4468A9
}

.todo-list .item.pro-3::before {
    background: orange
}

.todo-list .item.pro-4::before {
    background: #F60
}

.todo-list .item.pro-5::before {
    background: red
}

.todo-list .item.sub {
    margin-left: 0
}

.todo-list .item.sub .description, .todo-list .item.sub .edit {
    line-height: 1rem;
    margin: .2rem 0;
    font-size: .85rem
}

.todo-list .item.placeholder .handle {
    visibility: hidden !important
}

.todo-list .item.parent .sub-todo {
    color: #999;
    opacity: 1
}

.todo-list .item.due:not(.completed) .check {
    background: #FFE5E5 !important;
    border-color: #E48080 !important
}

.todo-list .item.due:not(.completed) .remind .time {
    color: #D84E4E
}

.todo-list .item .sub-todo {
    float: left;
    color: #ccc;
    width: 10px;
    margin: 3px 2px 0 0;
    opacity: 0
}

.todo-list .item .sub-todo.slide-up {
    margin-top: 1px;
    margin-left: 3px;
    margin-right: -1px;
    height: 14px
}

.todo-list .item .remind {
    font-size: .8em;
    color: #999;
    margin-left: 2.2rem
}

.todo-list .item .remind .repeat {
    margin-left: .5em
}

.todo-list .item .handle {
    cursor: move;
    visibility: hidden;
    width: .4em;
    height: 1em;
    color: #CCC;
    float: left;
    margin: .2em .1em 0;
    vertical-align: top
}

.todo-list .item .handle:hover {
    color: #999
}

.todo-list .item .icon-note {
    font-size: 16px;
    color: #999;
    vertical-align: middle;
    line-height: 16px
}

.todo-list .item .check {
    display: block;
    float: left;
    padding: 0;
    border: 1px solid #C6C6C6;
    border-radius: 1em;
    width: 1em;
    height: 1em;
    font-size: 1em;
    cursor: pointer;
    position: relative;
    overflow: visible;
    background-color: #FFF
}

.todo-list .item .check>i {
    display: none
}

.todo-list .item .check:hover {
    border-color: #666;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1)
}

.todo-list .item .check.checked>i {
    content: '\e803';
    display: block;
    font-size: .7rem;
    margin-left: .1rem;
    margin-top: .05rem;
    color: #666
}

.todo-list .item>.description, .todo-list .item>.edit {
    margin-left: 2.2rem;
    margin-right: 1.5em;
    max-width: 24em;
    line-height: 22px;
    font-size: .9rem;
    word-break: break-all
}

.todo-list .item .description .pomos {
    color: #999;
    margin-left: .5em
}

.todo-list .item .description>p {
    display: inline
}

.todo-list .item>.edit {
    box-shadow: none;
    width: 90%;
    border: 0;
    padding: 0;
    outline: 0;
    background: 0 0
}

.todo-list .item.editing {
    background: #FFF4D0 !important;
    border-top: #F7EDB8 1px solid
}

.todo-list .item.editing .description {
    display: none
}

.todo-list .item.editing .edit {
    display: block;
    padding: 0
}

.todo-list .item.editing .pin {
    display: none !important
}

.todo-list .item.completed .description {
    opacity: .5;
    text-decoration: line-through
}

.todo-list .item.completed .pin {
    display: none !important
}

.todo-list .item .tag {
    cursor: pointer;
    color: #4183C4
}

.todo-list .item>.clean, .todo-list .item>.icon-more, .todo-list .item>.icon-warning,
.todo-list .item>.pin {
    position: absolute;
    top: 8px;
    right: .5em;
    float: right;
    display: none;
    cursor: pointer;
    color: #BBB
}

.todo-list .item>.icon-more {
    right: 2em;
    color: #999
}

.todo-list .item>.clean {
    color: #666
}

.todo-list .item.focused, .todo-list .item:hover {
    background: #FFF
}

.todo-list .item.focused .handle, .todo-list .item:hover .handle {
    visibility: visible
}

.todo-list .item.focused .more, .todo-list .item.focused .pin, .todo-list .item.focused .sub-todo,
.todo-list .item:hover .more, .todo-list .item:hover .pin, .todo-list .item:hover .sub-todo {
    display: block;
    opacity: 1
}

.todo-list .item.warning {
    color: red
}

.todo-list .item.warning>.pin {
    display: none
}

.todo-list .item.warning>.icon-warning {
    color: red;
    display: block
}

.todo-list .item.submitting, .todo-list .item.submitting>* {
    opacity: .5;
    cursor: progress
}

.todo-list .item.pined>.pin {
    color: #F03;
    display: inline-block
}

.todo-list .item.completed:hover .clean {
    display: inline-block
}

.todo-list .item.disabled .handle {
    display: none
}

.todo-list .item.disabled .check {
    opacity: .5
}

.todo-list .item.disabled .check:hover {
    border-color: #C6C6C6;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
}

.todo-list .item.disabled .pin {
    display: none
}

.todo-list .item.ui-sortable-placeholder {
    margin: .2em 0;
    border: 2px dashed #CCC;
    background: #F4F4F4;
    height: 2em
}

.hold-completed {
    margin-top: .5rem
}

.hold-completed small {
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-bottom: .5rem;
    font-size: .8rem
}

.todo-main .zero {
    margin-top: 1em
}

.todo-main .zero .icon {
    background-image: url(/images/todo.png)
}

.todo-main.filtered .todo-list>li .handle {
    visibility: hidden !important
}

.pin-box .focus {
    font-size: 1.3em;
    font-weight: 700;
    display: inline-block;
    padding: 0 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    background: #FCD587;
    border-bottom: 1px solid #E9CC95;
    color: #6D4E11;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .1);
    border-radius: 3px;
    line-height: 2em
}

.pin-box .focus .description {
    display: inline;
    vertical-align: middle
}

.pin-box .focus .icon-check {
    display: inline-block;
    margin-left: .5em;
    vertical-align: middle;
    cursor: pointer;
    opacity: .5
}

.pin-box .focus .icon-check:hover {
    opacity: 1
}

.advanced-todo {
    font-size: .9em
}

.advanced-todo .btn.danger {
    background: #fff
}

.advanced-todo .group {
    line-height: 2em;
    clear: both;
    margin-bottom: .5em
}

.advanced-todo .group label {
    float: left;
    padding-right: .5em;
    width: 10em
}

.advanced-todo .group select {
    height: 2em
}

.advanced-todo .group textarea {
    width: 21em;
    height: 5em
}

.advanced-todo .group .content {
    display: inline-block
}

.advanced-todo .group .dropdown-menu {
    width: 15em;
    margin-left: -10px;
    padding: 5px
}

.advanced-todo .pro-feature {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 101;
    padding: 2em;
    margin: 1em;
    text-align: center
}

.advanced-todo .pro-feature p {
    font-size: 1.1em
}

.advanced-todo .pro-feature .btn {
    background: #FFF;
    color: #E74C3C;
    font-weight: 400;
    padding: .5rem 1rem .6rem;
    font-size: 1rem;
    line-height: 1.2rem
}

.advanced-todo .pro-feature a {
    margin: 1em
}

.modal-content .header h4 {
    margin-bottom: 0;
    font-size: 1.1em
}

.todo-list.working {
    border-bottom-color: #D9E7D9;
    background: #F0FAEF !important
}

.todo-list.working .check {
    border-color: #94AA94
}

.todo-list .sub-items .description {
    display: inline-block;
    width: 100%
}

.todo-list .item.completed+.sub-items .item .check, .todo-list .item.completed+.sub-items .item .handle {
    visibility: hidden
}

.todo-list .item.completed+.sub-items .item .description {
    opacity: .5;
    text-decoration: line-through
}

.todo-list .item.completed+.sub-items .placeholder {
    display: none
}

.pomo-status-finished .todo-list .item.working {
    border-bottom-color: #D9E7D9;
    background: #F0FAEF !important
}

.pomo-status-finished .todo-list .item.working .check {
    border-color: #94AA94
}

body:not(.vip) .todo-main .sub-todo.icon-arrow-right {
    display: none
}

body:not(.vip) .todo-main .todo-list .item .description, body:not(.vip) .todo-main .todo-list .item .edit {
    margin-left: 22px
}

.shepherd-enabled .more.icon-more {
    display: none !important
}

.pomo-header .processing {
    position: relative;
    font-weight: 700;
    color: #666;
    cursor: default;
    -webkit-user-select: none;
    z-index: 1;
    border: 1px solid #CCC;
    border-radius: 4px;
    background: #F8F8F8
}

.pomo-header .finished {
    position: relative
}

.pomo-header .finished .input-block {
    padding-right: 1.8em
}

.pomo-header .processbar {
    background-image: -webkit-linear-gradient(top, #f8f8f8 0, #eee 100%);
    background-image: linear-gradient(to bottom, #f8f8f8 0, #eee 100%);
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 100%;
    border-right: 1px solid rgba(212, 212, 212, .5);
    z-index: -1;
    border-radius: 3px 0 0 3px
}

.pomo-header .pomo-msg {
    text-align: center;
    line-height: 2
}

.history-list .item-main .recent-list, .pomo-main .recent-list {
    list-style: none;
    font-size: .9em;
    line-height: 1.5em;
    margin: 0
}

.history-list .item-main .pomos, .pomo-main .pomos {
    margin-left: 0
}

.history-list .item-main .pomos>li, .pomo-main .pomos>li {
    display: block;
    clear: both
}

.history-list .item-main .pomos .times, .pomo-main .pomos .times {
    color: #666
}

.history-list .item-main .pomos .times>i, .pomo-main .pomos .times>i {
    margin: 0 .2em
}

.history-list .item-main .oneday, .pomo-main .oneday {
    margin-bottom: .8em
}

.history-list .item-main .time, .pomo-main .time {
    float: left;
    padding-right: .8em;
    color: #999
}

.history-list .item-main .description, .pomo-main .description {
    float: left;
    width: 21em
}

.history-list .item-main .head, .pomo-main .head {
    margin-bottom: .3em
}

.history-list .item-main .head .date, .pomo-main .head .date {
    float: left;
    font-size: 1.1em
}

.history-list .item-main .head .number, .pomo-main .head .number {
    font-size: .9em;
    color: #666;
    float: right
}

.history-list .item-main .zero .icon, .pomo-main .zero .icon {
    background-image: url(/images/history.png)
}

.history-list .item-main .recent-list, .pomo-main .recent-list {
    min-height: 15em;
    max-height: 20em;
    padding: 0 .3em;
    overflow: hidden
}

.history-list .item-main .background-shield, .pomo-main .background-shield {
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0), #f4f4f4)
}

.fills-parent {
    bottom: 1em;
    left: 0;
    position: absolute;
    right: 0;
    height: 1.5em
}

.audio-container, .shepherd-enabled .cancel.cancel-badge {
    display: none
}

.key-metrics {
    margin: 0 0 20px;
    border: 1px solid #DDD;
    border-radius: 5px;
    background-color: #FDFDFD
}

.key-metrics li {
    padding: .7em 0;
    text-align: center;
    border-right: 1px solid #DDD
}

.key-metrics li>strong {
    margin-right: .3em;
    color: #333;
    font-size: 1.6em
}

.key-metrics li.pomos-growth {
    border-right: 0
}

.key-metrics li.pomos-growth>.value {
    color: #3D9400 !important
}

.key-metrics li.pomos-growth>.value:before {
    content: "↑ ";
    color: #3D9400;
    font-weight: 700;
    vertical-align: top;
    font-size: .9em
}

.key-metrics li.pomos-growth .percent {
    margin-left: .1em;
    font-size: .9em
}

.key-metrics .pomos-growth.down>.value {
    color: #DD4B39 !important
}

.key-metrics .pomos-growth.down>.value:before {
    content: "↓ ";
    color: #DD4B39
}

.month-chart-container {
    padding: 20px 10px;
    border-top: 1px solid #DDD;
    background-color: #FDFDFD;
    border-radius: 0 0 5px 5px
}

.month-chart {
    width: 900px;
    height: 200px
}

.month-chart>div>a {
    display: none
}

.week-barchart {
    height: 120px
}

.week-and-clock {
    border: 1px solid #DDD;
    border-radius: 5px;
    background-color: #FDFDFD
}

#ClockChart {
    float: right;
    width: 180px;
    height: 180px;
    margin-top: -57px
}

#TagsStat {
    padding: 20px 0 0
}

#TagsStat .tip {
    line-height: 1.5;
    color: #999;
    width: 16em
}

.current-tag {
    border-radius: 3px;
    border: 1px solid #CCC;
    float: left;
    display: inline-block;
    background-color: #FFF;
    line-height: 2em;
    padding: 0 .8em 0 .5em;
    position: relative
}

.current-tag .cancel {
    display: none
}

.current-tag:hover .cancel {
    display: block
}

.tags-piechart {
    float: right
}

.tags-list {
    width: 110px;
    float: left
}

.tags-list>li {
    position: relative
}

.tags-list .tag {
    margin: .2em 0;
    display: inline-block;
    cursor: pointer;
    width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.tags-list .current:before {
    margin: .2em 0;
    content: "#";
    position: absolute;
    left: -.6em
}

.chart {
    padding: 20px 20px 0;
    position: relative
}

.chart>.chart-info>.title {
    margin-bottom: .5em
}

.chart>.chart-info>.value {
    font-weight: 700
}

.chart>.chart-container {
    margin: 1em 0
}

.line-chart-title {
    position: relative;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 4px 4px 0 0;
    padding: 1em;
    margin: 0 0 1em
}

.line-chart-title h1, .line-chart-title h2, .line-chart-title h3,
.line-chart-title h4, .line-chart-title h5, .line-chart-title h6 {
    margin-bottom: 0;
    line-height: 1.5
}

.line-chart-title+.line-chart-container {
    margin: -1em 0 1em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0
}

.line-chart-container {
    padding: 0;
    border-radius: 4px;
    border: 1px solid #E1E1E8;
    background-color: #FAFAFA
}

.line-chart-container .line-chart {
    position: relative;
    height: 18em
}

.line-chart-container .line-chart:after {
    clear: both
}

.line-chart-container .line-chart:before {
    content: '';
    position: absolute;
    z-index: 1;
    display: block;
    left: 0;
    top: 10px;
    margin: 30px;
    height: 280px
}

.line-chart-container .line-chart:after {
    content: '';
    position: absolute;
    z-index: 1;
    display: block;
    left: 20px;
    top: 10px;
    margin: 30px;
    height: 1px
}

.line-chart-container .line-chart svg {
    position: relative;
    z-index: 2
}

.line-chart-container .line-chart line {
    stroke: rgba(200, 40, 41, .7)
}

.line-chart-container .line-chart .border {
    fill: #F4F4F4;
    stroke: #DDD;
    stroke-width: .5
}

.line-chart-container .line-chart text {
    fill: rgba(200, 40, 41, .6)
}

.line-chart-container .line-chart path {
    stroke: rgba(200, 40, 41, .6);
    stroke-width: 2.5px;
    fill: none
}

.line-chart-container .line-chart circle {
    stroke: rgba(200, 40, 41, .8);
    fill: #fff;
    stroke-width: 2px
}

.line-chart-container .line-chart circle.active, .line-chart-container .line-chart circle:hover {
    stroke-width: 3px;
    cursor: pointer
}

.line-chart-container .line-chart path[class*=average], .line-chart-container .line-chart path[class*=bottom],
.line-chart-container .line-chart path[class*=top] {
    stroke: rgba(200, 40, 41, .7)
}

.line-chart-container .line-chart circle[class*=average], .line-chart-container .line-chart circle[class*=bottom],
.line-chart-container .line-chart circle[class*=top] {
    fill: #fff;
    stroke: rgba(200, 40, 41, .7)
}

.line-chart-container .line-chart circle:hover {
    cursor: pointer;
    stroke: rgba(200, 40, 41, .8)
}

.tipsy {
    font-size: 14px;
    position: absolute;
    padding: 5px;
    margin-top: -8px;
    z-index: 100000;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3)
}

.tipsy-inner {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(200, 40, 41, .9)), to(rgba(200, 40, 41, .8)));
    background: -webkit-linear-gradient(top, rgba(200, 40, 41, .9), rgba(200, 40, 41, .8));
    background: -moz-linear-gradient(top, rgba(200, 40, 41, .9), rgba(200, 40, 41, .8));
    background: -ms-linear-gradient(top, rgba(200, 40, 41, .9), rgba(200, 40, 41, .8));
    background: -o-linear-gradient(top, rgba(200, 40, 41, .9), rgba(200, 40, 41, .8));
    color: #fff;
    max-width: 200px;
    padding: 5px 8px 4px;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    border-radius: 3px
}

.tipsy-arrow {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    border: 5px dashed rgba(200, 40, 41, .8)
}

.tipsy-arrow-s {
    border-top-color: rgba(200, 40, 41, .8)
}

.tipsy-s .tipsy-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent
}

.mask {
    background: #FFF;
    opacity: .1
}

.mask>* {
    -webkit-filter: blur(3px)
}

.stat-and-history .pomotodo-box {
    min-height: 33em
}

.pomo_chart .count {
    display: none;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    text-align: center;
    margin: 8px;
    border-radius: 30px;
    background: #FFF;
    line-height: 24px;
    font-size: .8rem;
    color: #666;
    cursor: default
}

.pomo_chart span {
    position: relative
}

.pomo_chart span:hover .count {
    display: inline-block
}

.history-header {
    margin-bottom: 1em
}

.history-header>div {
    display: inline-block;
    vertical-align: top
}

.history-list .pro-feature {
    z-index: 101;
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0
}

.history-list .pro-feature p {
    font-size: 1em
}

.history-list .pro-feature .btn {
    background: #FFF;
    color: #E74C3C;
    font-weight: 400;
    padding: .5em 1em;
    font-size: 1em
}

.history-list .pro-feature a {
    margin: 1em
}

.history-list .mask {
    background: #FFF;
    opacity: .85;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

.history-list .oneday {
    background: #FFF;
    border: 1px solid #DDD;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    padding: 1em;
    border-radius: 3px;
    margin-bottom: .6em;
    font-size: .9em;
    position: relative
}

.history-list .head {
    width: 10em;
    float: left
}

.history-list .head .number {
    color: #888;
    margin-top: .5em
}

.history-list .head .date.vertical-middle {
    line-height: 31px
}

.history-list .itemlist {
    float: left
}

.history-list .itemlist .manually {
    color: #FF7676
}

.history-list .item-main {
    list-style: none;
    padding: .5em
}

.history-list .item-main .comment {
    margin-left: .4em;
    color: #999
}

.history-list .item-main .description {
    width: 30em
}

.history-list .item-main .edit-container {
    margin-top: -6px
}

.history-list .item-main .edit-container>input[type=text] {
    width: 100%
}

.history-list .item-main .actions {
    float: left;
    width: 10em;
    margin-left: 2em;
    visibility: hidden
}

.history-list .item-main .actions>a {
    margin-left: 1em
}

.history-list .item-main.editing, .history-list .item-main:hover {
    background: #f4f4f4
}

.history-list .item-main.editing .actions, .history-list .item-main:hover .actions {
    visibility: visible
}

.history-list .item-main.editing {
    padding-top: .9em
}

.history-list .pomo-new .time>input[type=text] {
    display: inline-block;
    width: 10em
}

.history-list .pomo-new .edit-container {
    margin-top: 0
}

.history-list .pomo-new .edit-container>input[type=text] {
    width: 26em
}

.history-list .pomo-new .description {
    width: auto
}

.history-list .pomo-new .actions {
    padding-left: 7px;
    line-height: 31px;
    visibility: visible
}

.history-list .pomo-new .item-main {
    padding: 0
}

.history-list .pomo-new .item-main:hover {
    background: 0 0
}

.nothing .no-record {
    color: #999
}

.date-range-field .dash {
    margin: 0 .2em
}

.range-picker .selected {
    border: 1px solid #CCC;
    background-color: #F4F4F4;
    box-shadow: inset 0 2px 0 rgba(225, 225, 225, .2), 0 2px 0 rgba(225, 225, 225, .2);
    color: #666;
    text-shadow: 0 1px 0 #FFF;
    border-radius: 3px
}

.export .dropdown-menu a {
    font-size: .9em;
    color: #666;
    line-height: 1.2em;
    margin: .2em 0;
    padding: .4em 1em
}

.export:not(.ng-hide)+.manual {
    margin-left: 5px
}

.history-new {
    padding: .52em
}

.pagination {
    margin: 20px 0 0
}

.goal-main .pro-feature {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 101;
    padding: 2em;
    margin: 1em;
    text-align: center;
    line-height: 3.5
}

.goal-main .pro-feature .btn {
    background: #FFF;
    color: #E74C3C;
    font-weight: 400
}

.goal-main .pro-feature p {
    font-size: 1.1em
}

.goal-main .goal-list .column {
    display: block;
    text-align: left;
    border: none
}

.goal-main .goal-list .big_chart {
    margin-bottom: 1em
}

.goal-main .goal-list .big_chart .goal_bar {
    position: relative;
    background: #FAFAFA;
    padding: 1em .6em;
    box-shadow: -1px 5px 5px -5px #d1d1d1 inset
}

.goal-main .goal-list .big_chart .goal_bar:before {
    right: 3em
}

.goal-main .goal-list .big_chart .goal_history {
    border: 1px solid #F0F0F0;
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 6px
}

.goal-main .goal-list .big_chart .goal_history .total_stat {
    width: 30%
}

.goal-main .goal-list .big_chart .goal_history .total_chart {
    width: 70%;
    float: right;
    border-radius: 0 6px 6px 0;
    background: #FFF;
    border-left: 1px solid #ECECEC
}

.goal-main .goal-list .big_chart .goal_history .total_chart .big_pomo_chart {
    padding: 1em
}

.goal-main .goal-list .big_chart .goal_history .total_chart .big_pomo_chart span {
    width: 10%;
    display: inline-block;
    text-align: left
}

.goal-main .goal-list .total_stat {
    width: 40%;
    float: left;
    padding: 1em .2em .5em 1em
}

.goal-main .goal-list .total_stat label {
    font-size: .9em;
    color: #666
}

.goal-main .goal-list .total_stat .value_raw {
    padding: 0 0 .4em;
    display: block;
    line-height: 1.5
}

.goal-main .goal-list .total_stat .goal_current span {
    font-weight: 700;
    line-height: 2em
}

.goal-main .goal-list .goal_line {
    float: left;
    margin: .5em 0 .3em
}

.goal-main .goal-list .goal_line .change-goal {
    font-size: 1em;
    margin: .1em .5em 0;
    vertical-align: top;
    cursor: pointer;
    display: inline-block;
    opacity: 0
}

.goal-main .goal-list .goal_line .goal_number {
    margin: 0 .3em
}

.goal-main .goal-list .goal_line .goal_set input {
    width: 3em;
    text-align: center;
    margin: 0 .3em;
    padding: 0;
    background: 0 0;
    color: #F57373;
    display: inline-block
}

.goal-main .goal-list .goal_line .goal_set button {
    padding: .3em .5em .2em;
    font-size: .9em;
    margin-left: .5em
}

.goal-main .goal-list .goal_line .goal_show {
    font-size: .8em;
    margin: .2em 0;
    color: #999
}

.goal-main .goal-list .goal_line .goal_show:hover .change-goal {
    opacity: 1
}

.goal-main .goal-list .goal_bar {
    padding: .5em 0;
    position: relative
}

.goal-main .goal-list .goal_bar:before {
    margin-top: -1.7em;
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    background: #FAFAFA;
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 1.2em;
    right: 2.2em;
    box-shadow: -5px 5px 5px -5px #d1d1d1 inset
}

.goal-main .goal-list .goal_bar .goal_progress {
    background: #EEE;
    border-radius: 1em;
    height: .7em;
    width: 100%;
    display: inline-block
}

.goal-main .goal-list .goal_bar .goal_progress .now {
    float: left;
    border-radius: 1em;
    background: #40AC63;
    width: 20%;
    height: 100%;
    font-size: 12px;
    color: #FFF;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25)
}

.goal-main .goal-list .goal_bar .goal_progress .now[style="width:100%"] {
    background: #F57373
}

.goal-main .goal-list .goal_bar .goal_progress .rate {
    position: absolute;
    margin-left: -1.1em;
    font-weight: 700;
    display: none;
    width: 2.5em;
    height: 1.5em;
    background: #4D9709;
    margin-top: 1.4em;
    border-radius: .5em;
    color: #FFF;
    text-align: center;
    font-size: .9em;
    text-shadow: none;
    line-height: 1.5
}

.goal-main .goal-list .goal_bar .goal_progress .rate:before {
    content: "";
    position: absolute;
    top: 50%;
    left: .7em;
    border-style: solid;
    border-color: transparent transparent #4D9709;
    border-width: 8px 7px;
    margin-top: -1.7em;
    background: 0 0
}

.goal-main .goal-list .today .completion_rate {
    text-align: right;
    color: #999
}

.goal-main .goal-list .goal_history {
    position: relative
}

.goal-main .goal-list .goal_history h5 {
    font-size: 1.2em;
    width: 200%
}

.goal-main .goal-list .goal_history .current_stat {
    background: #FAFAFA;
    padding: 1em;
    border: 1px solid #EEE;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 0 0 6px 6px;
    margin-top: -4px
}

.goal-main .goal-list .goal_history .current_stat .completion_rate {
    float: right;
    color: #999
}

.goal-main .goal-list .goal_history .current_stat .goal_text {
    margin: .4em 0 0;
    line-height: 1.4rem
}

.goal-main .goal-list .goal_history .current_stat h6 {
    margin: 0
}

.goal-main .goal-list .goal_history .history_stat {
    border: 1px solid #F0F0F0;
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 6px
}

.goal-main .goal-list .goal_history .history_stat .pomo_chart {
    padding: 1em 0 1em 1em
}

.goal-main .goal-list .goal_history .history_stat .pomo_chart span {
    width: 25%;
    display: inline-block
}

.goal-main .goal-list .goal_description {
    display: inline-block;
    margin-left: 1em
}

.goal-main .column.width-1-2 .pomo_chart {
    position: absolute;
    right: 0;
    bottom: 5rem
}

.user-settings .modal-dialog {
    box-shadow: none;
    height: 50%
}

.user-settings .modal-dialog .modal-content {
    width: 36em
}

.user-settings .modal-dialog .modal-content .tab-content {
    position: relative
}

.user-settings .modal-dialog .modal-content .pro-feature {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 101;
    padding: 2em;
    margin: 1em;
    text-align: center
}

.user-settings .modal-dialog .modal-content .pro-feature p {
    font-size: 1.1em
}

.user-settings .modal-dialog .modal-content .pro-feature .btn {
    background: #FFF;
    color: #E74C3C;
    font-weight: 400;
    padding: .5rem 1rem .6rem;
    font-size: 1rem;
    line-height: 1.2rem
}

.user-settings .modal-dialog .modal-content .pro-feature a {
    margin: 1em
}

.user-settings .modal-dialog .modal-content .group {
    display: block
}

.user-settings .modal-dialog .modal-content .group p {
    width: 70%
}

.user-settings .modal-dialog .modal-content .group p button {
    margin-left: .5em
}

.user-settings .modal-dialog .modal-content .group p button.change {
    margin-left: 0;
    border: 1px solid transparent;
    box-shadow: none;
    font-weight: 400;
    color: #999
}

.user-settings .modal-dialog .modal-content .group p.msg {
    margin-left: 10em;
    color: #F33A3A
}

.user-settings .modal-dialog .modal-content .group input[type=text] {
    margin-right: 1em;
    width: 14em;
    display: inline-block
}

.user-settings .modal-dialog .modal-content .group input[type=text].change_email {
    margin-right: 0
}

.user-settings .modal-dialog .modal-content .group input.new {
    transition: box-shadow .5s;
    box-shadow: 0 0 8px #E9DB90
}

.user-settings .modal-dialog .modal-content .group input.change_email {
    display: inline-block
}

.user-settings .modal-dialog .modal-content .group .change+.button,
.user-settings .modal-dialog .modal-content .group .subscribe {
    vertical-align: top
}

.user-settings .modal-dialog .modal-content .group .fieldnote, .user-settings .modal-dialog .modal-content .group input.minute {
    float: left;
    padding: .5rem;
    line-height: 1rem;
    height: 2rem
}

.user-settings .modal-dialog .modal-content .group input.minute {
    width: 5em
}

.user-settings .modal-dialog .modal-content .group .fieldnote {
    background: #F3F3F3;
    border: 1px solid #CCC;
    border-radius: 2px;
    margin-left: -2px
}

.user-settings .modal-dialog .modal-content .group .inline-message {
    margin-left: .5em
}

.user-settings .modal-dialog .tab-navs {
    padding-top: .5em;
    z-index: 101;
    position: relative
}

.user-settings .modal-dialog .tab-navs .pro SUP {
    font-size: .7em;
    top: -.4em;
    color: #E74C3C
}

.user-settings .modal-dialog .tab-navs>li>a {
    padding: .4em .8em;
    font-size: .9em;
    font-weight: 400
}

.user-settings .modal-dialog .close {
    position: absolute;
    right: 1em;
    top: .5em;
    z-index: 101
}

.user-settings .modal-dialog .footer {
    margin: 0;
    font-size: .9em;
    padding: 1em 1.5em;
    z-index: 101;
    position: relative
}

.user-settings .modal-dialog .footer a.btn {
    font-weight: 700
}

.user-settings .modal-dialog .tab-pane.preferences .group.sub {
    margin-left: .8em
}

.user-settings .modal-dialog .tab-pane.preferences .group label {
    margin-left: .5em
}

.user-settings .modal-dialog .tab-content {
    border: none;
    font-size: .9em;
    min-height: 10em;
    padding: .5em 1.5em
}

.user-settings .modal-dialog .tab-content input[type=checkbox] {
    float: left;
    height: 2em
}

.user-settings .modal-dialog .tab-content ul {
    margin-left: 0
}

.user-settings .modal-dialog .tab-content ul li {
    display: block;
    line-height: 2em;
    margin-top: .8em
}

.user-settings .modal-dialog .tab-content label {
    display: inline-block;
    margin-left: 0
}

.user-settings .modal-dialog .tab-content .settings-item-title {
    float: left;
    padding-right: .5em;
    width: 10em
}

.user-settings .modal-dialog .modal-dialog {
    background: 0 0
}

.app-header, .footer>*>*, .grid .pomotodo-box>*, .pin-box, .stat-and-history {
    transition: opacity .4s;
    opacity: .3
}

.shepherd-target.shepherd-enabled, .shepherd-target.shepherd-enabled>*,
body:not(.shepherd-active) .app-header, body:not(.shepherd-active) .footer>*>*, body:not(.shepherd-active) .grid .pomotodo-box>*, body:not(.shepherd-active) .pin-box, body:not(.shepherd-active) .stat-and-history {
    opacity: 1
}

.shepherd-text {
    max-width: 25em;
    font-size: 1rem !important
}

.shepherd-text small {
    font-size: .9em !important;
    display: block;
    margin-top: .5em
}

.shepherd-element.shepherd-theme-arrows .shepherd-content footer .shepherd-buttons li .shepherd-button {
    display: inline-block;
    zoom: 1;
    border-radius: 3px;
    vertical-align: middle;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .9);
    padding: .5em 1em .55em;
    font-size: .8em;
    color: #666;
    line-height: 1.2em;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f9), to(#e6e6e8));
    background: -webkit-linear-gradient(top, #f8f8f9, #e6e6e8);
    background: -moz-linear-gradient(top, #f8f8f9, #e6e6e8);
    background: -ms-linear-gradient(top, #f8f8f9, #e6e6e8);
    background: -o-linear-gradient(top, #f8f8f9, #e6e6e8);
    box-shadow: 0 1px 0 #fff inset, 0 1px 0 rgba(0, 0, 0, .1);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    cursor: pointer;
    border: 1px solid #BBB;
    font-weight: 600
}

.shepherd-element.shepherd-theme-arrows .shepherd-content footer .shepherd-buttons li .shepherd-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e9e9e9));
    background: -webkit-linear-gradient(top, #f7f7f7, #e9e9e9);
    background: -moz-linear-gradient(top, #f7f7f7, #e9e9e9);
    background: -ms-linear-gradient(top, #f7f7f7, #e9e9e9);
    background: -o-linear-gradient(top, #f7f7f7, #e9e9e9);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    border-color: #999
}

body {
    font-size: 16px
}

a {
    color: #0881B3
}

.container {
    margin: 0 auto
}

.app-header {
    height: 3.6em;
    font-size: .9em;
    box-shadow: #FFF 0 1px 0;
    border-bottom: 1px solid #DDD;
    margin-bottom: 1.5em
}

.app-header a {
    text-decoration: none;
    color: #666
}

.app-header .logo {
    font-size: 1.5em;
    line-height: 2.5em;
    font-weight: 700;
    float: left
}

.app-header .logo a {
    color: #333 !important
}

.app-header .header-nav {
    float: right
}

.app-header .header-nav .nav-item {
    display: inline-block;
    line-height: 3.6em !important
}

.app-header .header-nav .nav-item a {
    display: block;
    padding: 0 1em
}

.app-header .header-nav .nav-item a.account {
    margin: .5rem 0;
    line-height: 2rem;
    border-radius: 2px
}

.app-header .header-nav .slide-up {
    vertical-align: middle;
    margin-right: -.5rem;
    color: #999
}

.app-header .dropdown.open .dropdown-menu {
    display: block;
    left: auto;
    right: 0;
    min-width: 130px;
    text-align: left
}

.app-header .dropdown>.dropdown-menu {
    top: 90%
}

.app-header .dropdown>.dropdown-menu>li>a {
    line-height: 2em
}

.app-header .dropdown>.dropdown-menu .group {
    padding: .4em 1em;
    color: #666;
    white-space: nowrap;
    line-height: 2em
}

.app-header .dropdown>.dropdown-menu .group>label {
    display: inline
}

.user-profile .group label {
    display: inline-block;
    margin-left: .5em;
    min-width: 9em
}

.user-profile .group p {
    display: inline-block
}

.main-container {
    width: 940px;
    margin: 20px auto;
    min-height: 640px
}

.pin-box {
    text-align: center;
    margin-bottom: 20px
}

.pomotodo-box {
    box-shadow: #fff 0 1px 0, rgba(0, 0, 0, .15) 0 1px 3px 0 inset;
    background-color: #f4f4f4;
    padding: 1em;
    border-radius: 5px;
    position: relative;
    margin-bottom: 1em
}

.box-header {
    box-shadow: #FFF 0 1px 0;
    border-bottom: 1px solid #DDD;
    margin-bottom: 1em;
    padding: 0 0 1em
}

.box-header .button-block, .box-header .input-block {
    width: 100%;
    height: 2.5em;
    line-height: 2.4em;
    padding: 0;
    position: relative;
    font-size: 1em
}

.box-header .submit-tip {
    opacity: 0;
    position: absolute;
    right: 1.5em;
    top: 1.5rem;
    z-index: 2;
    line-height: 1.7em;
    color: #999;
    transition: all .15s linear;
    cursor: pointer
}

.box-header .finished .submit-tip {
    top: .5em;
    right: 1em
}

.box-header .input-block {
    min-height: 2.5em;
    line-height: 1.4em;
    padding: .5em 1.5em .5em .5em
}

.box-header .input-block:focus {
    background: #fff
}

.box-header .input-block:focus+.submit-tip {
    opacity: 1
}

.box-header .button-block {
    text-align: center
}

.box-header>input {
    background-color: #F8F8F8;
    padding-left: .5em
}

.zero {
    text-align: center;
    padding: 1em
}

.zero .icon {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: 100px;
    background-repeat: no-repeat
}

.zero .no-record {
    margin: 1em;
    color: #999
}

.stat-and-history {
    margin-top: 1.6em
}

.stat-and-history .stat_and_history_switch.segmented-control {
    margin-bottom: 1.6em
}

.nothing {
    text-align: center;
    padding: 2em;
    border: 1px dashed #CCC
}

.line-chart-container {
    margin: 0;
    border-width: 1px 0 0
}

.date-picker>div {
    margin-right: 5px;
    display: block;
    float: left
}

.stat-header {
    margin-bottom: 1em
}

.range-picker {
    position: relative
}

.range-picker .dropdown-select {
    padding: 0 1.5em 0 1em;
    line-height: 2em
}

.range-picker .datepicker-calendar {
    right: 0;
    left: auto
}

.offline-ui {
    display: none !important
}

.loading-view {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 50%;
    z-index: 3
}

.loading-view .spinner {
    width: 64px;
    margin-top: -32px;
    display: inline-block
}

.vip-feature .loading-view {
    display: none
}

.vip .vip-feature .loading-view {
    display: block
}

.cancel-badge {
    color: #9C9C97;
    font-family: Tahoma, sans;
    position: absolute;
    right: -.5em;
    cursor: pointer;
    line-height: 1rem;
    top: 0;
    margin-top: -.7em;
    background: #fff;
    border-radius: 2em;
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 1rem
}

.footer {
    border-top: 1px solid #EEE;
    margin: 2em auto 1em;
    padding: 1em 0;
    font-size: small;
    color: #9A9EA8
}

.footer .copyright, .footer .langs {
    float: left
}

.footer .translate {
    margin-left: 1em;
    display: inline-block;
    float: left
}

.footer .translate.highlight {
    background: #ffeb00;
    padding: 0 .3em
}

.footer .langs .dropdown-select {
    margin-top: -.3em;
    margin-left: 1em;
    font-size: .9em
}

.footer .langs .dropdown-select select {
    line-height: 1.4em
}

.footer .lang-icon {
    display: inline-block;
    margin-left: .5em
}

.footer .lang-icon img {
    display: inline-block;
    height: 1.2em;
    margin-top: 1px
}

.footer a {
    color: #666;
    text-decoration: none
}

.footer .footer-nav {
    float: right
}

.footer .footer-nav>li {
    display: inline;
    margin-left: 1em
}

.container {
    width: auto;
    max-width: 960px
}

@media (max-width:767px) {
    .container {
        margin: 0 1em
    }

    .features li {
        margin: 0;
        float: none;
        padding-bottom: 2em;
        width: 100%
    }

    #home .mobile {
        float: none;
        width: auto
    }

    #home .mobile .intro {
        float: none;
        margin-bottom: 1em;
        text-align: center
    }

    #home .mobile.ios {
        border-bottom: 1px solid #eee
    }

    #apps .app {
        text-align: center
    }

    #apps .app .app-img, #apps .app .app-info {
        float: none;
        width: auto
    }

    #apps .play, #apps .qrcode {
        display: none
    }

    #feedback textarea {
        width: 100%
    }

    #features .cover h2 {
        font-size: 1.5em
    }

    #features .gray_box, #features .white_box {
        padding: 10px !important
    }

    #features .introduce {
        display: none
    }

    #features .description {
        float: none;
        width: 100%
    }

    #features .description .name {
        font-size: .8rem
    }

    #features .description .guide {
        padding: 0
    }

    .history-list .itemlist {
        margin: 0
    }

    .history-list .item-main .description {
        max-width: 30em;
        width: auto
    }

    .footer {
        text-align: center
    }

    .footer .footer-nav {
        float: none;
        margin: 1em 0 0;
        width: 100%
    }

    .footer .footer-nav .translate {
        display: none
    }

    .footer a {
        display: inline-block
    }

    .footer .copyright, .footer .langs {
        float: none;
        display: inline-block
    }
}


