.clearfix:after, .clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.pull-right {
    float: right
}

.pull-left {
    float: left
}

.hide {
    display: none !important
}

.show {
    display: block !important
}

.invisible {
    visibility: hidden
}

.hide-text {
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden
}

.inline-block {
    display: inline-block
}

input[type=number] {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #777;
    margin: 0;
    max-width: 100%;
    display: block;
    background: #fff
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", sans-serif;
    color: #333;
    font-size: 16px
}

a {
    color: #444;
    text-decoration: none
}

a:hover {
    color: #2b2b2b
}

a:focus {
    outline: 0
}

img, video {
    max-width: 100%;
    height: auto
}

.pace .pace-progress {
    background: #df2000;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 2px;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s
}

.pace-done .pace-inactive {
    opacity: 0;
    z-index: 999;
    transition: opacity 1s;
    position: relative
}

.container {
    margin: 0 auto
}

.header {
    height: 4.2em;
    font-size: .9em;
    box-shadow: #FFF 0 1px 0;
    border-bottom: 1px solid #DDD;
    margin-bottom: 20px
}

.header a {
    text-decoration: none;
    color: #666
}

.header .logo {
    font-size: 20px;
    line-height: 3em;
    font-weight: 700;
    float: left;
    margin-bottom: 0
}

.header .logo a {
    color: #333 !important
}

.header .header-nav {
    float: right
}

.header .header-nav .nav-item {
    display: inline-block;
    line-height: 4.2em !important
}

.header .header-nav .nav-item a {
    display: block;
    padding: 0 1em
}

.landing {
    text-align: center;
    padding: 3em 0
}

.landing>h4 {
    font-weight: 400
}

.landing .join {
    margin-top: 1.5em
}

.landing .join .button {
    padding: .5em 1.5em
}

.pomocount {
    text-align: center;
    margin: 4em 0;
    text-transform: uppercase
}

.number-count {
    font-family: "Gotham A", "Gotham B", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border-radius: 3px;
    background: #F7F7F7;
    padding: 5px;
    margin: 0 .5em;
    font-size: 22px;
    display: inline-block
}

.number-count .number {
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #DDD;
    background: #FFF;
    padding: 0 5px;
    line-height: 30px
}

.features {
    margin: 3em 0
}

.features li {
    float: left;
    margin-left: 2.22222%;
    padding-bottom: 0;
    width: 31.51515%;
    list-style: none;
    text-align: center
}

.features li:first-child {
    margin-left: 0
}

.features li .icon {
    display: block;
    margin: 0 auto 1em
}

.features li h3 {
    font-size: 1.1em
}

.features li p {
    display: inline-block;
    width: 16em;
    font-size: .9em;
    color: #666
}

.features .appointments .icon {
    width: 125px;
    height: 125px;
    margin: 0 auto 1em;
    background-image: image-url('appointments.png');
    background-repeat: no-repeat
}

@media print, screen, (-webkit-min-device-pixel-ratio:1.25), (min-device-pixel-ratio:1.25), (min-resolution:120dpi) {
    .features .appointments .icon {
        background-image: image-url('appointments.png');
        background-size: 125px 125px
    }
}

.features .organization .icon {
    width: 125px;
    height: 125px;
    background-image: image-url('organization.png');
    background-repeat: no-repeat
}

@media print, screen, (-webkit-min-device-pixel-ratio:1.25), (min-device-pixel-ratio:1.25), (min-resolution:120dpi) {
    .features .organization .icon {
        background-image: image-url('organization.png');
        background-size: 125px 1  25px
    }
}

.features .workflow .icon {
    width: 125px;
    height: 125px;
    background-image: image-url('globe.png');
    background-repeat: no-repeat
}

@media print, screen, (-webkit-min-device-pixel-ratio:1.25), (min-device-pixel-ratio:1.25), (min-resolution:120dpi) {
    .features .workflow .icon {
        background-image: image-url('globe.png');
        background-size: 125px125px
    }
}

.footer {
    margin: 0 auto 1em !important
}

#home #apps {
    overflow: hidden;
    text-align: center
}

#home .intro {
    float: left;
    padding-top: 3em;
    text-align: left
}

#home .intro .btn {
    font-size: .8em;
    background: #eee;
    padding: .8em 1em;
    line-height: .8em
}

#home .mobile {
    width: 50%;
    float: left
}

#home .device {
    height: 10em;
    overflow: hidden;
    padding-top: 2em
}

#home .device:hover {
    padding-top: 0
}

#account {
    display: block;
    zoom: 1;
    overflow: hidden
}

#account .tab-content {
    font-size: .9em
}

#account .agree_terms {
    font-size: .9em;
    color: #999
}

#account .agree_terms label {
    min-width: 8em;
    width: 20%;
    display: inline-block
}

#account .result {
    text-align: center;
    padding: 3em
}

#account .result .tip {
    margin: 0
}

#account .result a {
    font-weight: 700;
    border-bottom: 1px solid #666
}

.twitter-typeahead .validation_error.tip {
    margin-top: 0 !important
}

label[for=regEmail] {
    vertical-align: middle
}

.validation_error.tip {
    position: relative;
    display: inline-block;
    margin-left: 1em !important
}

.validation_error.tip .arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgba(200, 40, 41, .8);
    top: 8px;
    left: -5px
}

.validation_error.tip .inner {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(200, 40, 41, .9)), to(rgba(200, 40, 41, .8)));
    background: -webkit-linear-gradient(top, rgba(200, 40, 41, .9), rgba(200, 40, 41, .8));
    background: -moz-linear-gradient(top, rgba(200, 40, 41, .9), rgba(200, 40, 41, .8));
    background: -ms-linear-gradient(top, rgba(200, 40, 41, .9), rgba(200, 40, 41, .8));
    background: -o-linear-gradient(top, rgba(200, 40, 41, .9), rgba(200, 40, 41, .8));
    color: #FFF;
    padding: 5px 8px 4px;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    border-radius: 3px;
    font-size: .8em
}

.validation_error.tip .inner a {
    color: #FFF;
    font-weight: 700;
    text-decoration: underline
}

.tt-dropdown-menu {
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .175);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .175);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .175)
}

.tt-suggestion {
    display: block;
    padding: .2em 1em;
    clear: both;
    font-weight: 400;
    white-space: nowrap
}

.tt-suggestion.tt-cursor {
    background: #f4f4f4
}

.loged-in .nav-item.gotoapp {
    display: block
}

.loged-in .nav-item.account {
    display: none
}

#about .privacy {
    font-size: 14px;
    line-height: 2em;
    margin-bottom: 2em
}

#about .privacy h5 {
    font-weight: 700;
    margin-top: 5px
}

#about .privacy ul {
    padding-left: 10px
}

#about .terms .time {
    color: #666
}

#about .terms .tips {
    color: #979797;
    margin-top: 2em
}

#about .faq {
    font-size: 14px;
    line-height: 2em
}

#about .faq p {
    font-weight: 700
}

#about .faq li {
    margin-top: 6px
}

#about .about {
    font-size: 14px;
    line-height: 2em;
    margin-bottom: 2em
}

#about .about p {
    padding-top: 8px
}

#feedback textarea {
    width: 42em;
    height: 10em
}

#feedback .form {
    margin-top: 1em
}

#feedback input {
    font-family: normal
}

#feedback .sent {
    padding: 3em;
    background: #F4F4F4;
    text-align: center
}

.inapp .container {
    width: auto;
    margin: 1em
}

.inapp .footer, .inapp .header {
    display: none
}

.inapp #feedback textarea {
    width: 100%
}

#apps .title {
    text-align: center
}

#apps .app {
    padding: 3em;
    border-bottom: 1px solid #CCC
}

#apps .app:last-child {
    border-bottom: 0
}

#apps .app .app-img {
    float: left;
    height: 24em;
    width: 14em;
    position: relative
}

#apps .app .app-info {
    float: right;
    padding-top: 5em;
    width: 30em
}

#apps .app .app-info .description {
    margin-bottom: 1em;
    color: #666
}

#apps .app .app-info .btn {
    font-size: 1em
}

#apps .app .app-info .qrcode {
    margin-top: 2em
}

#apps .app.chrome .app-img, #apps .app.mac .app-img {
    float: right;
    width: auto;
    height: auto
}

#apps .app.chrome .app-info, #apps .app.mac .app-info {
    float: left;
    padding-top: 2em
}

#apps .app.mac .app-title h2, #apps .app.win .app-title h2 {
    float: left
}

#apps .app.mac .app-title sup, #apps .app.win .app-title sup {
    color: #E74C3C;
    font-size: .7em;
    margin-left: .3em;
    font-weight: 700;
    top: -.2em
}

#apps .app.chrome .app-info {
    padding-top: 4em
}

#apps .app.win .app-img {
    margin-left: -1em
}

#androidImage {
    background: image-url('android.png') 0 0/11.25em no-repeat;
    height: 100%
}

#iphoneImage {
    background: image-url('ios.png') 0 0/11.25em no-repeat;
    height: 100%;
    border: none
}

#iphone2Image {
    background: image-url('ios2.png') 0 0/11.25em no-repeat;
    height: 100%;
    border: none
}

#macImage {
    background: image-url('mac.png') no-repeat;
    height: 22em;
    border: none;
    margin: -3em;
    width: 23em
}


@media all and (-webkit-min-device-pixel-ratio:1.5) {
    #macImage {
        background: image-url('mac@2x.png') 0 0/370px no-repeat
    }

    #winImage {
        background: image-url('win@2x.png') 0 0/360px no-repeat
    }
}

#chromeImage {
    background: image-url('ios2.png') 0 0/250px no-repeat;
    height: 25em;
    border: none;
    margin: -3em;
    width: 250px;
    position: relative
}

.play {
    display: inline-block;
    margin-left: 1em
}

.tip {
    color: #999;
    font-size: .9em;
    display: block;
    margin: 1em 0 0 !important
}

.device {
    position: relative;
    transition: all .4s ease;
    user-select: none
}

.device.android .innerDevice {
    background: #222;
    height: 24.5em;
    width: 12.5em;
    margin: 0 auto;
    border-radius: 1.5em;
    z-index: 9;
    position: relative
}

.device.android .screen {
    background: #FFF;
    width: 11.25em;
    height: 18.7em;
    position: absolute;
    left: 50%;
    top: 2.75em;
    margin-left: -5.625em
}

.device.android .camera {
    background: #333;
    position: absolute;
    top: .75em;
    width: .75em;
    height: .75em;
    border-radius: .75em;
    left: 1.875em
}

.device.android .grill {
    background: #333;
    position: absolute;
    top: .9375em;
    width: 2.875em;
    height: .375em;
    border-radius: 1.25em;
    left: 50%;
    margin-left: -1.4375em
}

.device.android .home {
    background: #333;
    position: absolute;
    bottom: 1em;
    width: 2.5em;
    height: 1.25em;
    border-radius: .25em;
    left: 50%;
    margin-left: -1.25em
}

.device.iphone div {
    border: 1px solid #CCC
}

.device.iphone .innerDevice {
    height: 23.5em;
    width: 12.375em;
    border-radius: 1.375em;
    background: #FFF;
    margin: 0 auto;
    position: relative
}

.device.iphone .screen {
    background: #FFF;
    width: 11.25em;
    height: 16.875em;
    position: absolute;
    left: 50%;
    overflow: visible;
    top: 3.375em;
    margin-left: -5.625em
}

.device.iphone .camera {
    position: absolute;
    top: .9375em;
    width: .5em;
    height: .5em;
    border-radius: .5em;
    left: 50%;
    margin-left: -.25em
}

.device.iphone .grill {
    position: absolute;
    top: 2em;
    width: 2.125em;
    height: .375em;
    border-radius: 1.25em;
    left: 50%;
    margin-left: -1.0625em
}

.device.iphone .home {
    position: absolute;
    bottom: .625em;
    width: 1.875em;
    height: 1.875em;
    border-radius: 1.875em;
    left: 50%;
    margin-left: -.9375em
}

#loading {
    margin: 3em auto;
    width: 4em
}

#tips h2 {
    padding: 1em
}

#tips .segmented-control {
    text-align: center;
    padding-bottom: 2em
}

#tips .content {
    width: 90%;
    margin: 0 auto
}

#tips .title {
    text-align: center
}

#tips .tips-img .android {
    background-size: 250px;
    border: none;
    width: 250px;
    position: relative
}

#tips .left {
    float: left
}

#tips .right {
    float: right;
    text-align: right
}

#tips .tips {
    padding: 1em 3em;
    width: 100%
}

#tips .tips .tips-img {
    height: 24em;
    width: 14em;
    position: relative
}

#tips .tips .tips-info {
    padding-top: 5em;
    width: 30em
}

#tips .tips .tips-info.left {
    padding-left: 2em
}

#tips .tips .tips-info.right {
    padding-right: 3em
}

#tips .tips .tips-info .description {
    margin-bottom: 1em;
    color: #666;
    padding-top: 2px;
    display: inline-block
}

#tips .tips .tips-info .number {
    background: #00A9C9;
    border-radius: 1em;
    padding: 5px 10px;
    font-size: 1em;
    color: #FFF;
    font-weight: 700;
    display: inline-block;
    margin-right: 1em
}

.inapp #tips #android.tips_content {
    display: block
}

.inapp #tips #web.tips_content, .inapp #tips .segmented-control {
    display: none
}

.inapp #tips .tips-img {
    height: auto;
    width: 100%
}

.inapp #tips .tips-img .android {
    background-size: 100%;
    width: 80%;
    margin: 0 auto;
    background-position: center;
    right: 0
}

.inapp #tips .left, .inapp #tips .right {
    float: none;
    text-align: center
}

.inapp #tips .tips {
    padding: 0
}

.inapp #tips .tips .tips-info {
    width: auto;
    padding-top: 2em;
    padding-bottom: 2em
}

.inapp #tips .tips .tips-info .description {
    font-size: .9em
}

.inapp #tips .tips .tips-info .number {
    padding: 1px 6px;
    font-size: .9em;
    margin-right: .2em
}

.inapp #tips .tips .tips-info.right {
    padding-right: 0
}

#web.tips_content {
    text-align: center;
    display: block
}

#web.tips_content .tips-info {
    padding-bottom: 2em;
    padding-top: 0;
    width: 90%;
    margin: 0 auto
}

#web.tips_content .tips-info .number {
    float: left;
    position: relative;
    top: 2.2em
}

#web.tips_content .tips-info .description {
    line-height: 2em;
    margin-left: 2.5em;
    text-align: left
}

.tips_content {
    display: none
}

@font-face {
    font-family: Payment-Webfont;
    src: url(/fonts/Payment-Webfont.eot?685bdm);
    src: url(/fonts/Payment-Webfont.eot?#iefix685bdm) format('embedded-opentype'), url(/fonts/Payment-Webfont.woff?685bdm) format('woff'), url(/fonts/Payment-Webfont.ttf?685bdm) format('truetype'), url(/fonts/Payment-Webfont.svg?685bdm#Payment-Webfont) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Pro-features;
    src: url(/fonts/Pro-features.eot?-tfcanp);
    src: url(/fonts/Pro-features.eot?#iefix-tfcanp) format('embedded-opentype'), url(/fonts/Pro-features.woff?-tfcanp) format('woff'), url(/fonts/Pro-features.ttf?-tfcanp) format('truetype'), url(/fonts/Pro-features.svg?-tfcanp#Pro-features) format('svg');
    font-weight: 400;
    font-style: normal
}

[class*=" proicon-"], [class^=proicon-] {
    font-family: Pro-features;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

[class*=" icon-"], [class^=icon-] {
    font-family: Payment-Webfont;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-alipay:after {
    content: "\e600";
    font-size: 1.3em
}

.icon-paypal:after {
    content: "\e602";
    font-size: 1.3em
}

.icon-bitcoin:after {
    content: "\e603";
    font-size: 1.1em
}

.proicon-sound:before {
    content: "\f001"
}

.proicon-bell:before {
    content: "\f0a2"
}

.proicon-plus:before {
    content: "\f196"
}

.proicon-bookmark:before {
    content: "\f097"
}

.proicon-cloud:before {
    content: "\f0c2"
}

.proicon-chart:before {
    content: "\f080"
}

.proicon-trophy:before {
    content: "\f091"
}

.proicon-cloud_pomo:before {
    content: "\f0c2"
}

.proicon-free_time:before {
    content: "\f017"
}

.proicon-email:before {
    content: "\f003"
}

.proicon-gift:before {
    content: "\f06b"
}

.proicon-todo:before {
    content: "\f00b"
}

.proicon-ipad:before {
    content: "\f10a"
}

.proicon-calendar:before {
    content: "\f133"
}

.proicon-windows:before {
    content: "\f17a"
}

.proicon-mac:before {
    content: "\f179"
}

.use_coupon {
    line-height: 3.5em
}

.use_coupon .btn {
    background: #FFF;
    color: #DB5D51;
    font-weight: 400;
    border-color: #F09393;
    padding: .5em 1em
}

.modal .coupon .modal-content {
    width: 30em
}

.modal .coupon .header {
    margin-bottom: 0;
    height: 2.5em
}

.modal .coupon .body {
    padding: 1em
}

.modal .coupon .body .notice {
    font-size: .9em;
    margin-top: 1em;
    color: #999;
    margin-left: -1em
}

.modal .coupon .body .notice span {
    line-height: 2em
}

.modal .coupon .body .notice label {
    padding-left: 1em
}

.modal .coupon .body #coupon_code {
    float: left
}

.modal .coupon .body .success {
    color: #690
}

.modal .coupon .body .error {
    color: #E74C3C
}

.modal .coupon .body label {
    float: left;
    line-height: 2em;
    padding-right: 1em
}

.modal .coupon .body .result {
    margin-left: .4em;
    font-size: .9em;
    line-height: 2em
}

#upgrade .title {
    text-align: center
}

#upgrade .upgrade {
    padding: 2em
}

#upgrade .content .title {
    padding-bottom: 1em
}

#upgrade .pro-valid .valid p {
    padding-bottom: .5rem;
    display: inline-block
}

#upgrade .pro-valid .valid span {
    padding-left: .5rem;
    color: #E74C3C
}

#upgrade .tutorial {
    margin-top: 1em
}

#upgrade .tutorial a.btn {
    font-weight: 400
}

#upgrade .pro-features li {
    display: inline-block;
    vertical-align: top;
    width: 32.5%;
    box-sizing: border-box;
    padding-right: 1em;
    margin-bottom: 3em;
    position: relative;
    margin-top: 1em
}

#upgrade .pro-features li.more {
    display: none
}

#upgrade .pro-features li h3 {
    color: #E74C3C;
    line-height: 1.9
}

#upgrade .pro-features li h3:before {
    font-size: 1em;
    padding-right: .5em
}

#upgrade .pro-features li p {
    line-height: 1.5
}

#upgrade .down-arrow {
    text-align: center;
    cursor: pointer;
    height: 3.5em
}

#upgrade .down-arrow span {
    color: #E74C3C;
    font-size: 3em;
    margin-bottom: 1em;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 1em;
    overflow: hidden;
    display: inline-block
}

#upgrade .preparation-notice {
    border: 1px dashed #CCC;
    color: #666;
    padding: .5em;
    text-align: center;
    font-size: .9em;
    margin-top: 1.5em;
    background: #FFFFFA;
    line-height: 1.8
}

#upgrade .preparation-notice p {
    padding: .2em .2em .2em 1.5em
}

#upgrade .preparation-notice p.cancel {
    color: #999
}

#upgrade .preparation-notice p.success {
    color: #069233
}

#upgrade .pro-box {
    margin-bottom: 1em;
    border: 1px solid #EEE;
    padding: 2em;
    text-align: center
}

#upgrade .pro-box h3 {
    margin-bottom: 1em
}

#upgrade .pro-box em {
    width: 2em;
    padding: 0 1em;
    color: #999;
    margin-left: .2em;
    font-size: 1em;
    font-weight: 400
}

#upgrade .pro-box button {
    background: #FFF;
    font-size: 1em;
    color: #DB5D51;
    font-weight: 400;
    border-color: #F09393
}

#upgrade .pro-box button a {
    color: #DB5D51
}

#upgrade .pro-account {
    margin-bottom: 2em
}

#upgrade .download {
    padding-bottom: 1em
}

#upgrade .download a {
    color: #E74C3C;
    padding-left: .5em
}

#upgrade #pay-period {
    float: left
}

#upgrade #pay-period .pay-period {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center
}

#upgrade #pay-period .pay-period .monthly, #upgrade #pay-period .pay-period .yearly {
    padding: .7em 1.1em;
    cursor: pointer
}

#upgrade #pay-period .pay-period .active .dropdown {
    background-color: #F4F4F4;
    box-shadow: inset 0 2px 0 rgba(225, 225, 225, .2), 0 2px 0 rgba(225, 225, 225, .2);
    color: #666;
    text-shadow: 0 1px 0 #FFF
}

#upgrade #pay-period .pay-period .active .dropdown em {
    color: #666;
    text-shadow: 0 1px 0 #FFF
}

#upgrade #pay-period .pay-period .dropdown {
    border: 1px solid #E4E4E4;
    border-right: none;
    box-shadow: 0 2px 0 rgba(225, 225, 225, .2);
    color: #999;
    display: table-cell;
    font-weight: 700;
    text-align: center;
    transition: color .1s;
    white-space: nowrap;
    line-height: 1.2em
}

#upgrade #pay-period .pay-period .dropdown:after {
    content: "\25BE";
    font-family: entypo;
    z-index: 0;
    position: absolute;
    right: .5em;
    top: 50%;
    margin-top: -.5em;
    color: #999;
    font-size: 1em;
    line-height: 1em
}

#upgrade #pay-period .pay-period .dropdown em {
    color: #999;
    padding-right: .5em
}

#upgrade #pay-period .pay-period .dropdown-menu {
    min-width: 6em;
    line-height: 1.5
}

#upgrade #pay-period .pay-period .dropdown-menu .active {
    background: #EEE;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4
}

#upgrade #pay-period .pay-period input {
    border: 0;
    width: 2em
}

#upgrade #name-your-own-price {
    float: right;
    padding-bottom: .3em !important
}

#upgrade #name-your-own-price h4 {
    padding-bottom: .5em
}

#upgrade #name-your-own-price .ui-slider {
    margin-top: 2em
}

#upgrade #name-your-own-price, #upgrade #pay-period {
    width: 49%;
    border: 1px solid #EEE;
    padding: 1em;
    height: 13.5em
}

#upgrade #name-your-own-price h3, #upgrade #name-your-own-price h4,
#upgrade #pay-period h3, #upgrade #pay-period h4 {
    text-align: center;
    line-height: 2
}

#upgrade #name-your-own-price h4, #upgrade #pay-period h4 {
    font-size: 1em
}

#upgrade .bill {
    margin-top: 1em;
    text-align: center
}

#upgrade .order-info {
    padding: 1em;
    margin: 1em;
    display: inline-block
}

#upgrade .order-info .calculation {
    float: left;
    display: inline-block;
    padding: 1.2em 2em;
    background-color: #fff;
    border: 1px solid #eee;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .27), 0 0 60px rgba(0, 0, 0, .06) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .27), 0 0 40px rgba(0, 0, 0, .06) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .27), 0 0 40px rgba(0, 0, 0, .06) inset;
    position: relative
}

#upgrade .order-info .calculation:before {
    transform: skew(-15deg) rotate(-4deg);
    left: 15px
}

#upgrade .order-info .calculation:after {
    transform: skew(15deg) rotate(4deg);
    right: 15px
}

#upgrade .order-info .calculation:after, #upgrade .order-info .calculation:before {
    width: 70%;
    height: 55%;
    content: ' ';
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, .3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, .3);
    position: absolute;
    bottom: 10px;
    z-index: -1
}

#upgrade .order-info .calculation .number {
    font-weight: 700;
    margin: 0 2px
}

#upgrade .order-info .calculation em {
    margin: 0 10px;
    font-size: .9em
}

#upgrade .order-info .calculation #order-total {
    color: #069233
}

#upgrade .order-info .calculation #original-price {
    margin-left: .2em;
    display: none;
    color: #999
}

#upgrade .order-info .calculation .origin {
    padding-right: .2em
}

#upgrade .order-info .about {
    display: inline-block;
    float: left;
    width: 2em;
    font-size: 2em;
    color: #999;
    line-height: 1.5
}

#upgrade .order-info .contrast_material {
    float: left;
    display: inline-block
}

#upgrade .order-info .contrast_material .french_fries {
    display: inline-block;
    background: url(/images/french_fries.png) no-repeat;
    width: 60px;
    height: 60px;
    float: left
}

#upgrade .order-info .contrast_material .starbucks {
    display: none;
    background: url(/images/starbucks.png) no-repeat;
    width: 60px;
    height: 60px;
    float: left
}

#upgrade .order-info .contrast_material .number, #upgrade .order-info .contrast_material em {
    display: none;
    font-size: 1.6em;
    color: #999;
    margin: 0 .3em;
    font-weight: initial;
    line-height: 50px
}

#upgrade .arrowtip {
    left: -38px !important;
    position: relative !important;
    top: 2px !important;
    width: 6em;
    font-weight: 700;
    display: inline-block
}

#upgrade .payment {
    display: inline-block;
    border: 1px solid #EEE;
    float: left;
    padding-right: 2em;
    height: 4.2rem
}

#upgrade .payment .method {
    padding-left: 2em;
    padding-top: 1.2em
}

#upgrade .payment li {
    display: inline-block;
    width: 11em;
    height: 100%
}

#upgrade .payment li label:after {
    float: left
}

#upgrade .payment input.radio:empty {
    margin-left: -9999px
}

#upgrade .payment input.radio:empty~label {
    position: relative;
    float: left;
    line-height: 2em;
    text-indent: 3.25em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#upgrade .payment input.radio:empty~label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    background: #D1D3D4;
    border-radius: 2em;
    width: 1.8rem;
    height: 1.8rem
}

#upgrade .payment input.radio:hover:not(:checked)~label:before {
    content: "\2714";
    text-indent: .1em;
    font-size: 1.2em;
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.6rem;
    color: #C2C2C2
}

#upgrade .payment input.radio:hover:not(:checked)~label {
    color: #888
}

#upgrade .payment input.radio:checked~label:before {
    content: "\2714";
    text-indent: .1em;
    color: #FFF;
    background-color: #069233;
    font-size: 1.2em;
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.6rem
}

#upgrade .payment input.radio:checked~label {
    color: #069233
}

#upgrade .payment-box {
    display: inline-block
}

#upgrade .pay-now {
    float: right;
    display: inline-block;
    padding-left: 3em;
    margin-right: -3em;
    width: auto !important;
    height: 100%
}

#upgrade .pay-now.alipay {
    background-color: #FFA800;
    border-color: #E66E1E
}

#upgrade .pay-now.paypal {
    background-color: #009CDE;
    border-color: #2C6FAD
}

#upgrade .pay-now.bitcoin {
    background-color: #2C6FAD;
    border-color: #20598F
}

#upgrade .pay-now #pay-btn {
    border: 1px solid #669E83;
    background: #56B439;
    font-weight: 700;
    text-align: center;
    color: #FFF;
    border-radius: 0 5px 5px 0;
    padding: 0 1.5em;
    font-size: 1.3rem;
    cursor: pointer;
    line-height: 4.2rem;
    height: 100%;
    margin-top: -1px;
    box-sizing: content-box
}

.pay_page #pay .title {
    text-align: center;
    padding: 3em;
    width: 26em;
    margin: 0 auto
}

.pay_page #error .title {
    text-align: center;
    padding: 3em;
    width: 36em;
    margin: 0 auto
}

#floatingCirclesG {
    position: relative;
    width: 64px;
    height: 64px;
    -moz-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    float: left;
    margin-top: -1em
}

.f_circleG {
    position: absolute;
    background-color: #FFF;
    height: 12px;
    width: 12px;
    -moz-border-radius: 6px;
    -moz-animation-name: f_fadeG;
    -moz-animation-duration: 1.28s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: linear;
    -webkit-border-radius: 6px;
    -webkit-animation-name: f_fadeG;
    -webkit-animation-duration: 1.28s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -ms-border-radius: 6px;
    -ms-animation-name: f_fadeG;
    -ms-animation-duration: 1.28s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: linear;
    -o-border-radius: 6px;
    -o-animation-name: f_fadeG;
    -o-animation-duration: 1.28s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: linear;
    border-radius: 6px;
    animation-name: f_fadeG;
    animation-duration: 1.28s;
    animation-iteration-count: infinite;
    animation-direction: linear
}

#frotateG_01 {
    left: 0;
    top: 26px;
    -moz-animation-delay: .48s;
    -webkit-animation-delay: .48s;
    -ms-animation-delay: .48s;
    -o-animation-delay: .48s;
    animation-delay: .48s
}

#frotateG_02 {
    left: 8px;
    top: 8px;
    -moz-animation-delay: .64s;
    -webkit-animation-delay: .64s;
    -ms-animation-delay: .64s;
    -o-animation-delay: .64s;
    animation-delay: .64s
}

#frotateG_03 {
    left: 26px;
    top: 0;
    -moz-animation-delay: .8s;
    -webkit-animation-delay: .8s;
    -ms-animation-delay: .8s;
    -o-animation-delay: .8s;
    animation-delay: .8s
}

#frotateG_04 {
    right: 8px;
    top: 8px;
    -moz-animation-delay: .96s;
    -webkit-animation-delay: .96s;
    -ms-animation-delay: .96s;
    -o-animation-delay: .96s;
    animation-delay: .96s
}

#frotateG_05 {
    right: 0;
    top: 26px;
    -moz-animation-delay: 1.12s;
    -webkit-animation-delay: 1.12s;
    -ms-animation-delay: 1.12s;
    -o-animation-delay: 1.12s;
    animation-delay: 1.12s
}

#frotateG_06 {
    right: 8px;
    bottom: 8px;
    -moz-animation-delay: 1.28s;
    -webkit-animation-delay: 1.28s;
    -ms-animation-delay: 1.28s;
    -o-animation-delay: 1.28s;
    animation-delay: 1.28s
}

#frotateG_07 {
    left: 26px;
    bottom: 0;
    -moz-animation-delay: 1.44s;
    -webkit-animation-delay: 1.44s;
    -ms-animation-delay: 1.44s;
    -o-animation-delay: 1.44s;
    animation-delay: 1.44s
}

#frotateG_08 {
    left: 8px;
    bottom: 8px;
    -moz-animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s;
    -ms-animation-delay: 1.6s;
    -o-animation-delay: 1.6s;
    animation-delay: 1.6s
}

@-moz-keyframes f_fadeG {
    0% {
        background-color: #de4c53
    }

    100% {
        background-color: #fff
    }
}

@-webkit-keyframes f_fadeG {
    0% {
        background-color: #de4c53
    }

    100% {
        background-color: #fff
    }
}

@-ms-keyframes f_fadeG {
    0% {
        background-color: #de4c53
    }

    100% {
        background-color: #fff
    }
}

@-o-keyframes f_fadeG {
    0% {
        background-color: #de4c53
    }

    100% {
        background-color: #fff
    }
}

@keyframes f_fadeG {
    0% {
        background-color: #de4c53
    }

    100% {
        background-color: #fff
    }
}

#accountModal .header {
    height: 3em
}

#accountModal .tab-navs {
    border-bottom: 0
}

#accountModal .tab-navs .active>a {
    color: #555;
    font-weight: 700;
    border-bottom: 3px solid #BBB
}

#accountModal label {
    padding: 1px
}

#accountModal .tab-navs>li>a {
    padding: .4em .8em;
    font-size: 1em;
    font-weight: 400
}

#accountModal .close {
    position: absolute;
    right: 1em;
    top: .5em
}

#callback .title {
    text-align: center;
    padding: 1em;
    width: 24em;
    margin: 0 auto
}

#callback .valid {
    text-align: center;
    padding: 1em 3em;
    width: 26em;
    margin: 0 auto;
    border: 1px solid #E9E9E9
}

#callback .valid span {
    color: #069233
}

#callback .actions {
    padding: 1em;
    text-align: center
}

#callback h3 {
    position: relative;
    padding-left: 1.5em
}

#callback h3:after, #callback h3:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0
}

#callback .success {
    color: #069233
}

#callback .success:before {
    content: "\2714";
    text-indent: .1em;
    color: #FFF;
    background-color: #069233;
    font-size: .8em;
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 2em
}

#callback .cancel {
    color: #999
}

#callback .cancel:before {
    left: 3px;
    width: 1em;
    height: 1em;
    border: 3px solid #999;
    margin-top: -.6em;
    background: 0 0;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px
}

#callback .cancel:after {
    left: .2em;
    width: 1.1em;
    height: 3px;
    background: #999;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

#callback .error, #callback .warning {
    color: #E74C3C
}

#callback .error:before, #callback .warning:before {
    content: "!";
    z-index: 2;
    left: .5em;
    margin-top: -.5em;
    font-size: 14px;
    font-weight: 700;
    color: #000
}

#callback .error:before, #callback .warning:after {
    z-index: 1;
    border-width: 0 11px 18px;
    border-style: solid;
    border-color: #F8D201 transparent;
    margin-top: -10px;
    background: 0 0
}

#upgrade h3 {
    font-size: 1.2rem;
    line-height: 1.2rem
}

#upgrade h3 i {
    margin-right: 1rem;
    vertical-align: baseline;
    line-height: 1.2rem
}

#habla_expanded_div>div:not(#habla_middle_div) {
    display: none !important
}

.freetrial {
    display: none;
    text-align: center;
    margin-top: 1em
}

.freetrial button.btn.light {
    border: 1px solid #FF8D81;
    border-bottom-color: #FC8B7F;
    color: #E74C3C;
    font-weight: 400
}

.full_screen {
    width: 100%;
    max-width: 100%
}

.full_screen .header {
    background: #eee;
    padding: 0 20px;
    margin-bottom: 0;
    box-shadow: none;
    opacity: .95;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100
}

.full_screen .header .upgrade a {
    background: #E74326;
    color: #FFF;
    display: inline-block;
    margin: .5em;
    padding: 0 .5em;
    line-height: 2em;
    border-radius: 3px
}

.full_screen .header .upgrade a:hover {
    background: #D33C21
}

.full_screen .footer {
    padding: 2em 2em 1em
}

.full_screen .footer, .full_screen .inner_box {
    min-width: 320px;
    max-width: 1140px;
    margin: 0 auto;
    position: relative
}

.inapp #features .cover {
    padding-top: 20px
}

#features .content .gray_box {
    padding: 3em;
    overflow: hidden;
    background: #f9f9f9;
    border-top: 1px #eee solid;
    border-bottom: 1px #DDD solid
}

#features .content .gray_box .introduce {
    float: left
}

#features .content .gray_box .description {
    float: right
}

#features .content .white_box {
    padding: 2em;
    overflow: hidden
}

#features .content .white_box .introduce {
    float: right
}

#features .content .white_box .introduce .mac {
    float: right;
    margin-left: 0;
    margin-right: -180px;
    margin-top: 220px
}

#features .content .white_box .introduce .mac:hover {
    margin-left: 0;
    margin-right: -80px
}

#features .content .white_box .introduce .iphone {
    left: 20px
}

#features .content .white_box .description {
    float: left
}

#features .cover {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 20px;
    color: #E74326
}

#features .cover h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: .2em
}

#features .cover p {
    text-align: center;
    font-size: 1.3em
}

#features .introduce {
    position: relative;
    display: inline-block;
    width: 40%;
    min-height: 400px
}

#features .introduce.mac_app::before {
    content: '';
    height: 3em;
    background: image-url('mac_header_bg.png') right top/100% no-repeat;
    position: absolute;
    top: -2em;
    right: -13%;
    width: 150%;
    z-index: -1;
    max-width: 600px
}

#features .introduce.mac_app video {
    margin-top: -2em;
    float: right;
    padding-right: 3em
}

#features .introduce img, #features .introduce img:hover {
    -webkit-transition: 1s;
    transition: 1s
}

#features .introduce .mac {
    margin-left: -220px;
    width: 120%;
    max-width: 200%
}

#features .introduce .mac:hover {
    margin-left: -120px
}

#features .introduce .iphone {
    position: absolute;
    bottom: -360px;
    right: 50px
}

#features .introduce .iphone:hover {
    bottom: -300px
}

#features .introduce .android {
    margin-bottom: -140px;
    margin-left: 0
}

#features .introduce .android:hover {
    margin-left: 20px
}

#features .introduce .web {
    position: absolute;
    z-index: -1;
    top: -10px;
    left: -30px
}

#features .description {
    width: 60%;
    text-align: center
}

#features .description .name {
    padding: 2em
}

#features .description .name .proicon-bookmark:before, #features .description .name .proicon-mac:before {
    padding: 0 .15em
}

#features .description .name i {
    background: #E74326;
    color: #FFF;
    padding: .3em;
    border-radius: 1em;
    width: 2em;
    font-size: 2.2em
}

#features .description .name span {
    font-size: 2em;
    padding-left: .5em;
    color: #E74326;
    vertical-align: top
}

#features .description .guide {
    padding: 0 4em
}

#features .description .guide li {
    color: #E74326;
    text-align: left;
    line-height: 2
}

#features .description .guide li p {
    color: #333
}

.slider {
    margin-top: 1em;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer
}

.slider.slider-horizontal {
    width: 100%;
    height: 24px
}

.slider.slider-horizontal .slider-track {
    height: 12px;
    width: 100%;
    margin-top: -6px;
    top: 50%;
    left: 0;
    background-image: -webkit-linear-gradient(top, #f5f5f5 0, #f9f9f9 100%);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    background-repeat: repeat-x
}

.slider.slider-horizontal .slider-selection {
    height: 100%;
    top: 0;
    bottom: 0;
    background: #56B439
}

.slider.slider-horizontal .slider-handle {
    margin-left: -12px;
    margin-top: -6px
}

.slider.slider-horizontal .slider-handle.triangle {
    border-width: 0 12px 12px;
    width: 0;
    height: 0;
    border-bottom-color: #0480be;
    margin-top: 0
}

.slider.slider-disabled .slider-track {
    cursor: not-allowed
}

.slider input {
    display: none
}

.slider .tooltip.top {
    margin-top: -36px
}

.slider .tooltip-inner {
    white-space: nowrap
}

.slider .hide {
    display: none
}

.slider-track {
    position: absolute;
    cursor: pointer;
    border-radius: 6px
}

.slider-selection {
    position: absolute;
    border-radius: 6px
}

.slider-handle {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #3E8119;
    filter: none;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    border: 0 solid transparent
}

.slider-handle.round {
    border-radius: 50%
}

.slider-handle.custom, .slider-handle.triangle {
    background: 0 0
}

.slider-handle.custom::before {
    line-height: 24px;
    font-size: 20px;
    content: '\2605';
    color: #726204
}

.arrowtip {
    font-size: .8em;
    line-height: 1.286
}

.arrowtip.in {
    opacity: 1
}

.arrowtip.top {
    padding-bottom: 9px
}

.arrowtip.top .arrowtip-arrow {
    border-top-color: #069233;
    border-width: 9px 9px 0;
    bottom: 0;
    margin-left: -9px
}

.arrowtip.right .arrowtip-arrow {
    border-right-color: #069233;
    border-width: 9px 9px 9px 0;
    margin-top: -9px;
    left: -3px
}

.arrowtip.bottom {
    padding-top: 8px
}

.arrowtip.bottom .arrowtip-arrow {
    border-bottom-color: #069233;
    border-width: 0 9px 9px;
    margin-left: -9px;
    top: -1px
}

.arrowtip.left .arrowtip-arrow {
    border-left-color: #069233;
    border-width: 9px 0 9px 9px;
    margin-top: -9px;
    right: -3px
}

.arrowtip-inner {
    color: #fff;
    background-color: #069233;
    line-height: 1.286;
    padding: 8px;
    text-align: center;
    width: 6em;
    border-radius: 6px
}

.arrowtip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.footer {
    border-top: 1px solid #EEE;
    padding: 1em 0;
    font-size: small;
    color: #9A9EA8
}

.footer .copyright, .footer .langs {
    float: left
}

.footer .translate {
    margin-left: 1em;
    display: inline-block;
    float: left
}

.footer .translate.highlight {
    background: #ffeb00;
    padding: 0 .3em
}

.footer .langs .dropdown-select {
    margin-top: -.3em;
    margin-left: 1em;
    font-size: .9em
}

.footer .langs .dropdown-select select {
    line-height: 1.4em
}

.footer .lang-icon {
    display: inline-block;
    margin-left: .5em
}

.footer .lang-icon img {
    display: inline-block;
    height: 1.2em;
    margin-top: 1px
}

.footer a {
    color: #666;
    text-decoration: none
}

.footer .footer-nav {
    float: right
}

.footer .footer-nav>li {
    display: inline;
    margin-left: 1em
}

.container {
    width: auto;
    max-width: 960px
}

@media (max-width:767px) {
    .container {
        margin: 0 1em
    }

    .features li {
        margin: 0;
        float: none;
        padding-bottom: 2em;
        width: 100%
    }

    #home .mobile {
        float: none;
        width: auto
    }

    #home .mobile .intro {
        float: none;
        margin-bottom: 1em;
        text-align: center
    }

    #home .mobile.ios {
        border-bottom: 1px solid #eee
    }

    #apps .app {
        text-align: center
    }

    #apps .app .app-img, #apps .app .app-info {
        float: none;
        width: auto
    }

    #apps .play, #apps .qrcode {
        display: none
    }

    #feedback textarea {
        width: 100%
    }

    #features .cover h2 {
        font-size: 1.5em
    }

    #features .gray_box, #features .white_box {
        padding: 10px !important
    }

    #features .introduce {
        display: none
    }

    #features .description {
        float: none;
        width: 100%
    }

    #features .description .name {
        font-size: .8rem
    }

    #features .description .guide {
        padding: 0
    }

    .history-list .itemlist {
        margin: 0
    }

    .history-list .item-main .description {
        max-width: 30em;
        width: auto
    }

    .footer {
        text-align: center
    }

    .footer .footer-nav {
        float: none;
        margin: 1em 0 0;
        width: 100%
    }

    .footer .footer-nav .translate {
        display: none
    }

    .footer a {
        display: inline-block
    }

    .footer .copyright, .footer .langs {
        float: none;
        display: inline-block
    }
    .lightbox {
      width: 90%;
      margin-top: 20px;
    }
}

@media (min-width: 768px) {
  .lightbox {
    width: 33%;
    margin-top: 60px;
  }
}

.menu-box {
  border: 1px solid #D8D8D8;
  padding: 1.6em;
  border-radius: 3px;
  margin: 1.6em 0;
}

.faded { 
  opacity: 0.5;
  font-size: 14px;
}

.search-form {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
