* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

article, aside, details, figcaption, figure, footer, header, hgroup,
main, nav, section, summary {
    display: block
}

audio, canvas, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

.clearfix {
    zoom: 1
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}

a:focus {
    outline: dotted thin
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: 700
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

legend {
    border: 0;
    padding: 0
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

button, input {
    line-height: normal
}

button, select {
    text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

input[type=checkbox], input[type=radio] {
    cursor: pointer
}

button:disabled, input:disabled {
    cursor: default
}

input[type=search] {
    -webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

::-moz-placeholder {
    opacity: 1
}

table {
    border-collapse: collapse
}

.clearfix:after, .clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.pull-right {
    float: right !important
}

.pull-left {
    float: left !important
}

.hide {
    display: none !important
}

.centered {
    text-align: center
}

.show {
    display: block !important
}

.invisible {
    visibility: hidden
}

.inline-block {
    display: inline-block
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.shadowed {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .08), 0 0 2px rgba(0, 0, 0, .06), 0 0 0 1px rgba(0, 0, 0, .04), 0 -1px 0 0 rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .08), 0 0 2px rgba(0, 0, 0, .06), 0 0 0 1px rgba(0, 0, 0, .04), 0 -1px 0 0 rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .08), 0 0 2px rgba(0, 0, 0, .06), 0 0 0 1px rgba(0, 0, 0, .04), 0 -1px 0 0 rgba(0, 0, 0, .05)
}

.no-padding {
    padding: 0 !important
}

.bordered {
    border: 1px solid #ddd
}

.rounded {
    border-radius: 3px
}

.fade {
    opacity: 0;
    transition: opacity .15s linear
}

.fade.in {
    opacity: 1
}

.grid {
    zoom: 1;
    margin: 0 0 0 -1em;
    padding: 0;
    list-style: none
}

.grid:after, .grid:before {
    content: " ";
    display: table
}

.grid:after {
    clear: both
}

.grid+.grid {
    margin-top: 1em;
    margin-bottom: 1em
}

.grid>.column {
    zoom: 1;
    margin: 0;
    padding-left: 1em;
    float: left
}

.grid>.column:after, .grid>.column:before {
    content: " ";
    display: table
}

.grid>.column:after {
    clear: both
}

@media screen and (max-width:650px) {
    .grid {
        margin-left: 0;
        max-width: none
    }

    .grid>.column {
        width: auto;
        padding-left: 0;
        display: block;
        float: none
    }
}

[class*=width-] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%
}

.width-1-1 {
    width: 100%
}

.width-1-2, .width-2-4, .width-3-6, .width-5-10 {
    width: 50%
}

.width-1-3, .width-2-6 {
    width: 33.333%
}

.width-2-3, .width-4-6 {
    width: 66.666%
}

.width-1-4 {
    width: 25%
}

.width-3-4 {
    width: 75%
}

.width-1-5, .width-2-10 {
    width: 20%
}

.width-2-5, .width-4-10 {
    width: 40%
}

.width-3-5, .width-6-10 {
    width: 60%
}

.width-4-5, .width-8-10 {
    width: 80%
}

.width-1-6 {
    width: 16.666%
}

.width-5-6 {
    width: 83.333%
}

.width-1-10 {
    width: 10%
}

.width-3-10 {
    width: 30%
}

.width-7-10 {
    width: 70%
}

.width-9-10 {
    width: 90%
}

.nav {
    zoom: 1;
    margin: 0;
    background: #f4f4f4
}

.nav:after, .nav:before {
    content: " ";
    display: table
}

.nav:after {
    clear: both
}

.nav>li {
    float: left;
    list-style: none
}

.nav>li a {
    padding: 0 1em;
    line-height: 3em;
    height: 3em;
    display: block
}

.nav>li a:hover {
    background: #e7e7e7
}

.nav>li.active a {
    border-bottom: .2em solid #cecece
}

.pagination {
    margin: 20px 0;
    font-size: .8em
}

.pagination>ul {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05)
}

.pagination>ul>li {
    display: inline
}

.pagination>ul>li>a, .pagination>ul>li>span {
    color: #999;
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 0
}

.pagination>ul>li:first-child>a, .pagination>ul>li:first-child>span {
    border-left-width: 1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
    border-radius: 4px 0 0 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.pagination>ul>li:last-child>a, .pagination>ul>li:last-child>span {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-radius: 0 4px 4px 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.pagination>ul>li>.active>a, .pagination>ul>li>.active>span {
    color: #999;
    cursor: default
}

.pagination>ul>li.disabled>a, .pagination>ul>li.disabled>a:focus, .pagination>ul>li.disabled>a:hover, .pagination>ul>li.disabled>span {
    color: #666;
    cursor: default;
    background-color: #F4F4F4;
    box-shadow: inset 0 2px 0 rgba(225, 225, 225, .2)
}

.panel-box {
    position: relative;
    background: #FFF;
    z-index: 0;
    border-color: #ddd
}

.panel-box .header, .panel-box>.footer {
    padding: .5em 1em;
    background: #f4f4f4;
    border-top: 1px solid #eaeaea
}

.panel-box>.header {
    border-top: none;
    border-bottom: 1px solid #eaeaea
}

.panel-box>.body {
    padding: 1em
}

.panel-box.rounded .header {
    border-radius: 3px 3px 0 0
}

.panel-box.rounded .footer {
    border-radius: 0 0 3px 3px
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #222
}

.serif {
    font-family: Palatino, Optima, STSong, Georgia, serif
}

blockquote {
    font-family: Optima, Georgia, STSong, serif;
    margin: 1em 0;
    color: #666;
    padding: .6em 1em;
    background: #f8f8f8;
    border-left: .4em solid #ddd
}

blockquote cite {
    display: block;
    padding-top: .6em;
    font-size: .8125em
}

blockquote cite:before {
    content: "\2014 \0020"
}

blockquote blockquote {
    padding: 0 0 0 1em;
    margin-left: 2em
}

blockquote p {
    margin-bottom: 0
}

abbr, acronym {
    border-bottom: 1px dotted;
    font-variant: normal
}

abbr {
    cursor: help
}

del {
    text-decoration: line-through
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 400
}

caption, th {
    text-align: left
}

q:after, q:before {
    content: ''
}

a, ins {
    text-decoration: none
}

mark {
    background: #fffdd1
}

code, pre {
    font-family: "Courier New", Courier, monospace;
    white-space: pre-wrap;
    word-wrap: break-word
}

pre {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: 1em 1.5em
}

hr {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-top: -1px;
    margin-bottom: 1.5rem;
    clear: both
}

.typo-small, figcaption, small {
    font-size: .9em;
    color: #888
}

[draggable] {
    cursor: move
}

.textwrap, .textwrap td, .textwrap th {
    word-wrap: break-word;
    word-break: break-all
}

.textwrap-table {
    table-layout: fixed
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    font-family: Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    color: #333;
    margin-bottom: .4em;
    line-height: 1.5
}

h1 {
    font-size: 1.8em
}

h2 {
    font-size: 1.6em
}

h3 {
    font-size: 1.4em
}

h4 {
    font-size: 1.2em
}

h5, h6 {
    font-size: 1em
}

ul {
    margin-left: 1.3em;
    list-style: disc
}

ol {
    list-style: decimal;
    margin-left: 1.9em
}

li ol, li ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2em
}

li ul {
    list-style: circle
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #999
}

.label.danger {
    background-color: #D9534F
}

.label.warning {
    background-color: #F0AD4E
}

.label.success {
    background-color: #5CB85C
}

caption, em, legend {
    font-weight: 700
}

table {
    border-spacing: 0
}

table thead th {
    background: #f1f1f1
}

table td, table th {
    padding: .5em 1em;
    color: #666;
    border: 1px solid #DDD
}

table th {
    background: #fbfbfb
}

table .caption {
    border-bottom: none
}

.table-bordered {
    border: 1px solid #DDD;
    border-left: 0;
    border-radius: 4px;
    border-collapse: separate
}

.table-bordered td, .table-bordered th {
    border: none;
    border-top: 1px solid #DDD
}

.table-bordered>thead:first-child tr:first-child>th {
    border-top: 0
}

.table-bordered>thead:first-child tr:first-child>th:first-child {
    border-top-left-radius: 4px
}

.table-bordered>thead:first-child tr:first-child>th:last-child {
    border-top-right-radius: 4px
}

.table-bordered>tbody:last-child tr:last-child>td:first-child {
    border-bottom-left-radius: 4px
}

.table-bordered>tbody:last-child tr:last-child>td:last-child {
    border-bottom-right-radius: 4px
}

.table-bordered td, .table-bordered th {
    border-left: 1px solid #DDD
}

.table--striped tbody>tr:nth-child(even)>td, .table--striped tbody>tr:nth-child(even)>th {
    background-color: #F9F9F9
}

.tab-navs {
    margin: 0;
    border-bottom: 1px solid #DDD;
    list-style: none;
    zoom: 1
}

.tab-navs:after, .tab-navs:before {
    content: " ";
    display: table
}

.tab-navs>li {
    float: left;
    margin-bottom: -1px
}

.tab-navs>li>a {
    position: relative;
    display: block;
    padding: .5em 1em;
    margin-right: 2px;
    font-size: .8em;
    line-height: 1.5;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0
}

.tab-navs>li.active>a {
    color: #555;
    cursor: default;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-bottom-color: transparent
}

.tab-content {
    border: 1px solid #DDD;
    border-top: 0
}

.tab-navs:after {
    display: table;
    content: " ";
    clear: both
}

.tab-navs--underline>li a {
    padding: 0 0 1em;
    margin: 0 1em;
    border: none;
    border-bottom: 3px solid transparent;
    text-decoration: none
}

.tab-navs--underline>li.active>a {
    color: #555;
    font-weight: 700;
    border: none;
    border-bottom: 3px solid #BBB
}

.tab-content {
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 0 0 4px 4px
}

.tab-content>.tab-pane {
    display: none
}

.tab-content>.tab-pane.active {
    display: block
}

.tab-content--bordered {
    border: 1px solid #DDD;
    border-top: 0
}

form fieldset {
    border: 1px solid #D8D8D8;
    padding: 1.6em;
    border-radius: 3px;
    margin: 1.6em 0
}

form fieldset legend {
    padding: 0 .6em;
    margin: 0 -.6em
}

input[type=email], input[type=password], input[type=text], select,
textarea {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #777;
    margin: 0;
    max-width: 100%;
    display: block;
    background: #fff
}

input[type=email]:focus, input[type=password]:focus, input[type=text]:focus, select:focus, textarea:focus {
    border: 1px solid #aaa;
    color: #444;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    box-shadow: 0 0 3px rgba(0, 0, 0, .2)
}

input[type=checkbox], input[type=radio] {
    padding: 0
}

label, legend {
    display: block
}

select {
    padding: 0
}

label span, legend span {
    font-weight: 400;
    color: #666;
    vertical-align: baseline;
    margin-left: .5em
}

.input-wrap {
    margin-bottom: 1em
}

.input-wrap label {
    display: block
}

.form.aligned .input-wrap {
    display: table;
    width: 100%
}

.form.aligned label {
    display: table-cell;
    min-width: 8em;
    width: 20%
}

.form.aligned input, .form.aligned select, .form.aligned textarea {
    display: table-cell
}

.dropdown-select {
    position: relative;
    width: auto;
    display: inline-block;
    overflow: hidden;
    border-radius: 4px;
    height: auto;
    background: #FFF;
    border: 1px solid #E4E4E4;
    box-shadow: 0 2px 0 rgba(225, 225, 225, .2);
    color: #999;
    vertical-align: top;
    cursor: pointer
}

.dropdown-select:after {
    content: "\25BE";
    font-family: entypo;
    z-index: 0;
    position: absolute;
    right: .5em;
    top: 50%;
    margin-top: -.5em;
    color: #999;
    font-size: 1em;
    line-height: 1em
}

.dropdown-select:first-child {
    margin-left: 0
}

.dropdown-select select {
    -moz-appearance: window;
    position: relative;
    display: block;
    min-width: 100%;
    width: 135%;
    padding: .3em 2em .3em 1em;
    color: #999;
    border: none;
    background: 0 0;
    outline: 0;
    -webkit-appearance: none;
    z-index: 99;
    cursor: pointer;
    line-height: 1.5em;
    box-sizing: content-box
}

.dropdown-select select::-ms-expand {
    display: none
}

.btn, .button, button {
    position: relative;
    display: inline-block;
    font-weight: 700;
    white-space: nowrap;
    vertical-align: middle;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .9);
    padding: .5em 1em .55em;
    font-size: .9em;
    color: #666;
    line-height: 1.2em;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f9), to(#e6e6e8));
    background: -webkit-linear-gradient(top, #f8f8f9, #e6e6e8);
    background: -moz-linear-gradient(top, #f8f8f9, #e6e6e8);
    background: -ms-linear-gradient(top, #f8f8f9, #e6e6e8);
    background: -o-linear-gradient(top, #f8f8f9, #e6e6e8);
    box-shadow: 0 1px 0 #fff inset, 0 1px 0 rgba(0, 0, 0, .1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    cursor: pointer;
    border: 1px solid #BBB
}

.btn:hover, .button:hover, button:hover {
    text-decoration: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e9e9e9));
    background: -webkit-linear-gradient(top, #f7f7f7, #e9e9e9);
    background: -moz-linear-gradient(top, #f7f7f7, #e9e9e9);
    background: -ms-linear-gradient(top, #f7f7f7, #e9e9e9);
    background: -o-linear-gradient(top, #f7f7f7, #e9e9e9);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    border-color: #999
}

.btn.danger:hover {
    border-color: #DF9898;
    color: #C25858
}

.btn.light {
    border: 1px solid #CCC;
    border-bottom-color: #BCBEC0;
    box-shadow: 0 1px 0 #F2F2F2;
    color: #666;
    background: #FFF;
    text-shadow: 0 1px 0 #FFF;
    border-radius: 3px
}

.btn.light:hover {
    color: #444;
    border-color: #BBB
}

.btn.disabled, .btn:disabled {
    opacity: .5;
    color: #666;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .9);
    background-image: none;
    background-color: #E5E5E5;
    border-color: #C5C5C5;
    cursor: default;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-group .btn {
    margin-right: .5em;
    display: inline-block
}

.btn-group .btn:last-child {
    margin-right: 0
}

.segmented-control {
    font-size: .9em;
    zoom: 1
}

.segmented-control:after, .segmented-control:before {
    content: " ";
    display: table
}

.segmented-control:after {
    clear: both
}

.segmented-control>ul {
    display: inline-block;
    margin: 0
}

.segmented-control>ul>li {
    float: left;
    display: inline-block
}

.segmented-control>ul>li>a {
    padding: .5em 1em;
    border: 1px solid #E4E4E4;
    border-right: none;
    box-shadow: 0 2px 0 rgba(225, 225, 225, .2);
    color: #999;
    display: table-cell;
    font-weight: 700;
    text-align: center;
    transition: color .1s;
    white-space: nowrap;
    line-height: 1.2em
}

.segmented-control>ul>li.active>a {
    background-color: #F4F4F4;
    box-shadow: inset 0 2px 0 rgba(225, 225, 225, .2), 0 2px 0 rgba(225, 225, 225, .2);
    color: #666;
    text-shadow: 0 1px 0 #FFF
}

.segmented-control>ul>li:first-child>a {
    border-radius: 3px 0 0 3px
}

.segmented-control>ul>li:last-child {
    border-radius: 0 3px 3px 0;
    border-right: 1px solid #E4E4E4
}

.segmented-control--centered {
    text-align: center
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: table;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-y: scroll
}

.modal-dialog {
    display: table-cell;
    vertical-align: middle
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background: rgba(18, 18, 18, .3)
}

.modal-content {
    position: relative;
    background: #FFF;
    width: 50em;
    margin: auto;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 2px rgba(136, 136, 136, .5)
}

.modal-content .header {
    min-height: 1em;
    border-bottom: 1px solid #E5E5E5
}

.modal-content .footer {
    border-top: 1px solid #E5E5E5
}

.modal-content .body, .modal-content .footer, .modal-content .header {
    padding: .5em 1em
}

.close {
    float: right;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #FFF;
    opacity: .3
}

.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5
}

.dropdown {
    position: relative
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .175);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .175);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .175)
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto
}

.dropdown-menu>li>a {
    display: block;
    padding: .2em 1em;
    clear: both;
    font-weight: 400;
    white-space: nowrap
}

.dropdown-menu>li>a:hover {
    background: #f4f4f4
}

.dropdown-menu .separator {
    border-top: 1px solid #EBEBEB;
    margin: .2em 0
}

.open>.dropdown-menu {
    display: block
}

.open>a {
    outline: 0
}

.toggle {
    position: relative;
    width: 45px;
    height: 20px;
    background-color: #eee;
    border: 1px solid #bbb;
    border-radius: 20px;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, .1)
}

.toggle-handle {
    position: absolute;
    top: -2px;
    left: -1px;
    z-index: 2;
    width: 22px;
    height: 22px;
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #fff 0, #f2f2f2 100%);
    background-image: linear-gradient(to bottom, #fff 0, #f2f2f2 100%);
    border: 1px solid #AAA;
    border-radius: 100px;
    -webkit-transition: -webkit-transform .1s ease-in-out, border .1s ease-in-out;
    transition: transform .1s ease-in-out, border .1s ease-in-out;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2)
}

.toggle.active {
    background-color: #69BDFE;
    background-image: -webkit-linear-gradient(top, #4095d7 0, #69bdfe 100%);
    background-image: linear-gradient(to bottom, #4095d7 0, #69bdfe 100%);
    border: 1px solid #3C78A5;
    box-shadow: inset 0 0 15px rgba(255, 255, 255, .25)
}

.toggle.active .toggle-handle {
    border-color: #0a76ad;
    -webkit-transform: translate3d(28px, 0, 0);
    transform: translate3d(28px, 0, 0)
}

.green .toggle.active {
    background-color: #7DD53D;
    background-image: -webkit-linear-gradient(top, #5ba525 0, #7dd53d 100%);
    background-image: linear-gradient(to bottom, #5ba525 0, #7dd53d 100%);
    border-color: #62AA2E
}

.green .toggle.active .toggle-handle {
    border-color: #62AA2E
}

.yellow .toggle.active {
    background-color: #FFE186;
    background-image: -webkit-linear-gradient(top, #fc3 0, #ffe186 100%);
    background-image: linear-gradient(to bottom, #fc3 0, #ffe186 100%);
    border-color: #F1C12F
}

.yellow .toggle.active .toggle-handle {
    border-color: #F1C12F
}

.red .toggle.active {
    background-color: #F79A7A;
    background-image: -webkit-linear-gradient(top, #ec6231 0, #f79a7a 100%);
    background-image: linear-gradient(to bottom, #ec6231 0, #f79a7a 100%);
    border-color: #EC6231
}

.red .toggle.active .toggle-handle {
    border-color: #EC6231
}

.orange .toggle.active {
    background-color: #FFB777;
    background-image: -webkit-linear-gradient(top, #f70 0, #ffb777 100%);
    background-image: linear-gradient(to bottom, #f70 0, #ffb777 100%);
    border-color: #F70
}

.orange .toggle.active .toggle-handle {
    border-color: #F70
}


.errors {
  color: rgba(200,40,41,.9);
}

.field_with_errors input {
  border-color: rgba(200,40,41,.9);
}

.text-center {
  text-align: center;
}

.alert-success {
  color: green;
}