#blog_post
  .container{style: "margin-bottom: 100px;"}
    .section_header
      %h3= t('charges.your_charges')
    .pomotodo.grid.ng-scope
      .column.width-3-4
        .menu-box
          - if @charges.count < 1
            %h3= t('charges.no_charges')
          = render @charges
      .column.width-1-4
        = render "layouts/user_sidebar"