.footer.clearfix
  .copyright
    ©&nbsp;
    %a{:href => main_app.features_path} 2014 Asha
  %ul.footer-nav
    %li.nav-item
      = link_to "#{t('buttons.blog')}", main_app.posts_path
    %li.nav-item
      = link_to "#{t('buttons.pricing')}", main_app.pricing_path
    %li.nav-item
      = link_to "#{t('buttons.contact')}", main_app.new_contact_path
    %li.nav-item
      = link_to "#{t('buttons.privacy')}", main_app.privacy_path
    %li.nav-item
      = link_to "#{t('buttons.terms')}", main_app.terms_path