:javascript
  /*  */
  var google_conversion_id = 964904143;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "lEL-CO_t6FcQz4mNzAM";
  var google_remarketing_only = false;
  /*  */
%script{:src => "//www.googleadservices.com/pagead/conversion.js", :type => "text/javascript"}
%noscript
  %div{:style => "display:inline;"}
    %img{:alt => "", :height => "1", :src => "//www.googleadservices.com/pagead/conversion/964904143/?label=lEL-CO_t6FcQz4mNzAM&amp;guid=ON&amp;script=0", :style => "border-style:none;", :width => "1"}/
:javascript
  (function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
      var fbds = document.createElement('script');
      fbds.async = true;
      fbds.src = '//connect.facebook.net/en_US/fbds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(fbds, s);
      _fbq.loaded = true;
    }
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', '6019076744096', {'value':'0.00','currency':'USD'}]);
%noscript
  %img{:alt => "", :height => "1", :src => "https://www.facebook.com/tr?ev=6019076744096&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1", :style => "display:none", :width => "1"}/