.flash-messages.text-center
  - flash.each do |name, msg|
    - if msg.is_a?(String)
      %div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}"}
        = content_tag :div, msg, :id => "flash_#{name}"
