%header.header
  %h1.logo
    %a{:href => main_app.root_path} Asha
  %ul.header-nav
    %li.nav-item.gotoapp
      = link_to "#{t('buttons.features')}", main_app.features_path
    - if current_user
      %li.nav-item.account= link_to "#{t('buttons.edit_account')}", main_app.edit_user_registration_path
      - if current_user.admin?
        %li.nav-item.account= link_to "#{t('buttons.admin')}", '/admin'
        %li.nav-item.account= link_to "#{t('buttons.invite')}", main_app.new_user_invitation_path
      %li.nav-item.account= link_to "#{t('buttons.sign_out')}", main_app.destroy_user_session_path, :method=>'delete'
    - else
      %li.nav-item.account= link_to "#{t('buttons.sign_in')}", main_app.new_user_session_path
      %li.nav-item.account= link_to "#{t('buttons.join')}", main_app.new_waitlist_path