.menu-box
  %h4= t('buttons.menu')
  %a{:href => main_app.edit_user_registration_path}= t('buttons.edit_contact_info')
  %br
  %br
  - if current_user.subscription
    %a{:href => koudoku.owner_subscriptions_path(current_user)}= t('buttons.edit_subscription')
    %br
    %br
    %a{:href => main_app.charges_path}= t('buttons.charges_and_receipts').html_safe
  - else
    %a{:href => koudoku.owner_subscriptions_path(current_user)}= t('buttons.add_subscription')
    %br
    %br
  - if current_user.admin?
    = link_to "#{t('buttons.invitations')}", main_app.new_user_invitation_path
    %br
    %br
    = link_to "#{t('buttons.admin')}", "/admin"
