!!!
%html
  %head
    %meta{:charset => "utf-8"}
      %title= page_title
      %meta{content: content_for?(:description) ? yield(:description) : "Asha offers The World's Leading Online Personal & Virtual Assistant Services. We can help more effective, efficient to help you grow your business exponentially.", name: "description"}
      %meta{:content => "virtual assistant, virtual assistant services, hire a virtual assistant, virtual assistants, virtual assistance, virtual assistant needed, Need virtual assistant, online personal assistant, personal assistant services, travel assistant", :name => "keywords"}/
      %meta{:content => "https://www.asha.io/", :name => "copyright"}
      %meta{:content => "Global", :name => "Distribution"}/
      %meta{:content => "INDEX, FOLLOW", :name => "Robots"}/
      %meta{:content => "7 Days", :name => "Revisit-after"}/
      %meta{:content => "48a1c0221834086808e682c60eed40d4", :name => "verifyownership"}/
      = stylesheet_link_tag 'application', media: 'all'
      = javascript_include_tag 'application'
      = csrf_meta_tags
      = favicon_link_tag '/favicon.ico'
      = yield :koudoku
      %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
      %meta{:content => "webkit", :name => "renderer"}
  %body
    .container{:role => "main", id: (controller_name == "visitors" && action_name == "index") ? "home" : ""}
      = render "layouts/squatch"
      = render "layouts/navigation"
      = render "layouts/messages"
      = yield
      = render "layouts/footer"

